openapi: 3.0.0
info:
  title: API Renda Fixa Bancária - Open Finance Brasil
  description: |
    Estas APIs visam o compartilhamento de dados sobre produtos, movimentacão de clientes e suas
    características entre as Instituições Financeiras participantes do Open Finance Brasil
  version: 1.0.0-rc1.0
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: "https://openbanking-brasil.github.io/areadesenvolvedor/"
servers:
  - url: "https://api.banco.com.br/open-banking/opendata-investments/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/opendata-investments/v1"
    description: Servidor de Homologação
tags:
  - name: List Products
    description: Método para obter a lista de Fundos de Investimentos
  - name: Identify Product
    description: Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
  - name: Customer Position
    description: Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
  - name: Product Movement
    description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
  
paths:
  /list-products:
    get:
      tags:
        - List Products
      summary: Conjunto de informações dos Fundos de Investimentos
      operationId: investmentsGetFunds
      description: Método para obter a lista de Fundos de Investimentos
      parameters:
       - $ref: '#/components/parameters/Authorization'
       - $ref: '#/components/parameters/xFapiAuthDate'
       - $ref: '#/components/parameters/xFapiCustomerIpAddress'
       - $ref: '#/components/parameters/xFapiInteractionId'
       - $ref: '#/components/parameters/xCustomerUserAgent'
       - $ref: '#/components/parameters/page'
       - $ref: '#/components/parameters/pageSize'
       - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OkResponseBankFixedIncomesProductList'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
  
  /identify-product/{investmentId}:
    get:
      tags:
        - Identify Product
      summary: Conjunto de informações de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
      operationId: investmentsGetFixedIncomeBank
      description: Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
      parameters:
       - $ref: '#/components/parameters/InvestmentId'
       - $ref: '#/components/parameters/Authorization'
       - $ref: '#/components/parameters/xFapiAuthDate'
       - $ref: '#/components/parameters/xFapiCustomerIpAddress'
       - $ref: '#/components/parameters/xFapiInteractionId'
       - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBankFixedIncomeIdentifyProduct'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
  /customer-position:
    get:
      tags:
        - Customer Position
      summary: Conjunto de informações de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
      operationId: investmentsGetFixedIncomeCredit
      description: Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
      parameters:
       - $ref: '#/components/parameters/InvestmentId'
       - $ref: '#/components/parameters/Authorization'
       - $ref: '#/components/parameters/xFapiAuthDate'
       - $ref: '#/components/parameters/xFapiCustomerIpAddress'
       - $ref: '#/components/parameters/xFapiInteractionId'
       - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseAccountList'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
  /product-movement:
    get:
      tags:
        - Product Movement
      summary: Conjunto de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      operationId: investmentsGetVariableIncome
      description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      parameters:
       - $ref: '#/components/parameters/InvestmentId'
       - $ref: '#/components/parameters/Authorization'
       - $ref: '#/components/parameters/xFapiAuthDate'
       - $ref: '#/components/parameters/xFapiCustomerIpAddress'
       - $ref: '#/components/parameters/xFapiInteractionId'
       - $ref: '#/components/parameters/xCustomerUserAgent'
       - $ref: '#/components/parameters/page'
       - $ref: '#/components/parameters/pageSize'
       - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/ResponseBankFixedIncomeProductMovement'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'

components:
  schemas:
    ResponseBankFixedIncomeListProduct:
      $ref: ./schemas/bank_fixed_incomes_apis/ResponseBankFixedIncomesProductList.yaml
    IdentiftProduct:
      $ref: ./schemas/bank_fixed_incomes_apis/IdentiftProduct.yaml
    EnumInvestmentType:
      $ref: ./schemas/bank_fixed_incomes_apis/EnumInvestmentType.yaml
    EnumInvestmentsFixedIncomeBankIndexer:
      $ref: ./schemas/enum/EnumInvestmentsFixedIncomeBankIndexer.yaml
    Remuneration:
      $ref: ./schemas/bank_fixed_incomes_apis/Remuneration.yaml
    EnumRateType:
      $ref: ./schemas/bank_fixed_incomes_apis/EnumRateType.yaml
    EnumRatePeriodicity:
      $ref: ./schemas/bank_fixed_incomes_apis/EnumRatePeriodicity.yaml
    EnumCalculation:
      $ref: ./schemas/bank_fixed_incomes_apis/EnumCalculation.yaml
    issueUnitPrice:
      $ref: ./schemas/bank_fixed_incomes_apis/issueUnitPrice.yaml
    BankFixedIncomeMeta:
      $ref: ./schemas/bank_fixed_incomes_apis/BankFixedIncomesMeta.yaml
    BankFixedIncomeLinks:
      $ref: ./schemas/bank_fixed_incomes_apis/BankFixedIncomesTransactionsLinks.yaml
    BankFixedIncomePrice:
      $ref: ./schemas/bank_fixed_incomes_apis/BankFixedIncomePrice.yaml
    BankFixedIncomeProductMovement:
      $ref: ./schemas/bank_fixed_incomes_apis/BankFixedIncomeProductMovement.yaml
    EnumBankFixedIncomeMovementType:
      $ref: ./schemas/bank_fixed_incomes_apis/EnumBankFixedIncomeMovementType.yaml
    EnumBankFixedIncomeTransactionType:
      $ref: ./schemas/bank_fixed_incomes_apis/EnumBankFixedIncomeTransactionType.yaml
  parameters:
    InvestmentId:
      $ref: ./parameters/InvestmentId.yaml
    Authorization:
      $ref: ./parameters/Authorization.yaml
    pagination-key:
      $ref: ./parameters/PaginationKey.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
  responses:
    OkResponseBankFixedIncomesProductList:
      description: Dados obtidos com sucesso
      content:
        application/json:
          schema:
            $ref: ./schemas/bank_fixed_incomes_apis/ResponseBankFixedIncomesProductList.yaml
    ResponseBankFixedIncomeIdentifyProduct:
      description: Dados de fundos de investimentos obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/bank_fixed_incomes_apis/ResponseBankFixedIncomeIdentifyProduct.yaml
    ResponseBankFixedIncomeProductMovement:
      description: Dados obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/bank_fixed_incomes_apis/ResponseBankFixedIncomeProductMovement.yaml
    BadRequest:
      $ref: ./responses/unpaged/BadRequest.yaml
    Forbidden:
      $ref: ./responses/unpaged/Forbidden.yaml
    GatewayTimeout:
      $ref: ./responses/unpaged/GatewayTimeout.yaml
    InternalServerError:
      $ref: ./responses/unpaged/InternalServerError.yaml
    Locked:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    MethodNotAllowed:
      $ref: ./responses/unpaged/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/unpaged/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/unpaged/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/unpaged/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/unpaged/Unauthorized.yaml
    UnprocessableEntity:
      $ref: ./responses/unpaged/UnprocessableEntity.yaml
    SiteIsOverloaded:
      description: O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    BadRequestWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/BadRequest.yaml
    ForbiddenWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Forbidden.yaml
    GatewayTimeoutWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/GatewayTimeout.yaml
    InternalServerErrorWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/InternalServerError.yaml
    LockedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Locked.yaml
    MethodNotAllowedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/MethodNotAllowed.yaml
    NotAcceptableWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotAcceptable.yaml
    NotFoundWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotFound.yaml
    TooManyRequestsWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/TooManyRequests.yaml
    UnauthorizedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Unauthorized.yaml
    UnprocessableEntityWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/UnprocessableEntity.yaml
    DefaultWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Default.yaml
    SiteIsOverloadedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/SiteIsOverloaded.yaml
