openapi: 3.0.0
info:
  title: API Credit Fixed Incomes - Open Finance Brasil
  description: |
    Estas APIs visam o compartilhamento de dados sobre Investimentos e suas
    características entre as Instituições Financeiras participantes do Open Finance Brasil
  version: 1.0.0-rc2.0
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: "https://openbanking-brasil.github.io/areadesenvolvedor/"
servers:
  - url: "https://api.banco.com.br/open-banking/opendata-investments/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/opendata-investments/v1"
    description: Servidor de Homologação
tags:
  - name: Listagem de produtos
    description: Método para obter a lista de Fundos de Investimentos
  - name: Identificação do produto
    description: Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
  - name: Customer Position
    description: Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
  - name: Customer Movement
    description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
paths:
  /listagemdeprodutos:
    get:
      tags:
        - Listagem de produtos
      summary: Conjunto de informações dos Fundos de Investimentos
      operationId: creditFixedLista
      description: Método para obter a lista de Fundos de Investimentos
      parameters:
         - $ref: '#/components/parameters/Authorization'
         - $ref: '#/components/parameters/xFapiAuthDate'
         - $ref: '#/components/parameters/xFapiCustomerIpAddress'
         - $ref: '#/components/parameters/xFapiInteractionId'
         - $ref: '#/components/parameters/xCustomerUserAgent'
         - $ref: '#/components/parameters/page'
         - $ref: '#/components/parameters/pageSize'
         - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseListagem'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
  /identificaçãodoproduto:
    get:
      tags:
        - Identificação do produto
      summary: Conjunto de informações de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
      operationId: investmentsGetFixedIncomeBank
      description: Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
      parameters:
         - $ref: '#/components/parameters/investmentId'
         - $ref: '#/components/parameters/Authorization'
         - $ref: '#/components/parameters/xFapiAuthDate'
         - $ref: '#/components/parameters/xFapiCustomerIpAddress'
         - $ref: '#/components/parameters/xFapiInteractionId'
         - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties' 
  /customer-position:
    get:
      tags:
        - Customer Position      
      summary: Conjunto de informações de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
      operationId: investmentsGetFixedIncomeCredit
      description: Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
      parameters:
        - $ref: '#/components/parameters/investmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties' 
  /customer-movement:
    get:
      tags:
        - Customer Movement
      summary: Conjunto de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      operationId: investmentsGetVariableIncome
      description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      parameters:
        - $ref: '#/components/parameters/investmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCustomerMovement'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
components:
  schemas:
    OKResponseListagem:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedLista.yaml
    OKResponseCustomerPosition:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedLista.yaml    
  parameters:
    investmentId:
      $ref: ./parameters/InvestmentId.yaml
    Authorization:
      $ref: ./parameters/Authorization.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    pagination-key:
      $ref: ./parameters/PaginationKey.yaml
  responses:
    OKResponseListagem:
      description: Lista de títulos de renda fixa crédito mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedLista.yaml
    OKResponseCustomerMovement:
      description: Lista de títulos de renda fixa crédito mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCustomerMovement.yaml
    BadRequest:
      $ref: ./responses/unpaged/BadRequest.yaml
    Forbidden:
      $ref: ./responses/unpaged/Forbidden.yaml
    GatewayTimeout:
      $ref: ./responses/unpaged/GatewayTimeout.yaml
    InternalServerError:
      $ref: ./responses/unpaged/InternalServerError.yaml
    Locked:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    MethodNotAllowed:
      $ref: ./responses/unpaged/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/unpaged/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/unpaged/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/unpaged/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/unpaged/Unauthorized.yaml
    UnprocessableEntity:
      $ref: ./responses/unpaged/UnprocessableEntity.yaml
    SiteIsOverloaded:
      description: O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    Default:
      $ref: ./responses/unpaged/Default.yaml
    BadRequestWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/BadRequest.yaml
    ForbiddenWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Forbidden.yaml
    GatewayTimeoutWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/GatewayTimeout.yaml
    InternalServerErrorWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/InternalServerError.yaml
    LockedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Locked.yaml
    MethodNotAllowedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/MethodNotAllowed.yaml
    NotAcceptableWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotAcceptable.yaml
    NotFoundWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotFound.yaml
    TooManyRequestsWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/TooManyRequests.yaml
    UnauthorizedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Unauthorized.yaml
    UnprocessableEntityWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/UnprocessableEntity.yaml
    DefaultWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Default.yaml
    SiteIsOverloadedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/SiteIsOverloaded.yaml