openapi: 3.0.0
info:
  title: API Credit Fixed Incomes - Open Finance Brasil
  description: |
    API de informações de operações de Renda Fixa Crédito do Open Finance Brasil – Fase 4. API que retorna informações de operações de investimento do tipo Renda Fixa Crédito (Debêntures, CRI/CRA) mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação do produto, rentabilidade, quantidade, prazos, saldos em posição do cliente e movimentações financeiras. Não possui segregação entre pessoa natural e pessoa jurídica. 
    Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0-rc1.0
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: "https://openbanking-brasil.github.io/areadesenvolvedor/"
servers:
  - url: "https://api.banco.com.br/open-banking/opendata-investments/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/opendata-investments/v1"
    description: Servidor de Homologação
tags:
  - name: Listagem de produto
    description: Obtém a lista de operações de Renda Fixa Crédito mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
  - name: Identificação do produto
    description: Obtém os dados da operação de Renda Fixa Crédito identificada por investmentId.
  - name: Posição do cliente
    description: Obtém a posição da operação de Renda Fixa Crédito identificada por investmentId.
  - name: Movimentação do cliente
    description: Obtém as movimentações da operação de Renda Fixa Crédito identificada por investmentId.
paths:
  /investments:
    get:
      tags:
        - Listagem de produto
      summary: Conjunto de informações dos Fundos de Investimentos
      operationId: creditFixedLista
      description: Obtém a lista de operações de Renda Fixa Crédito mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
      parameters:
         - $ref: '#/components/parameters/Authorization'
         - $ref: '#/components/parameters/xFapiAuthDate'
         - $ref: '#/components/parameters/xFapiCustomerIpAddress'
         - $ref: '#/components/parameters/xFapiInteractionId'
         - $ref: '#/components/parameters/xCustomerUserAgent'
         - $ref: '#/components/parameters/page'
         - $ref: '#/components/parameters/pageSize'
         - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditFixedIncomesProductList'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'credit-fixed-incomes'
  /investments/{investmentId}:
    get:
      tags:
        - Identificação do produto
      summary: Conjunto de informações de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
      operationId: creditFixedIdentificacao
      description: Obtém os dados da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
         - $ref: '#/components/parameters/InvestmentId'
         - $ref: '#/components/parameters/Authorization'
         - $ref: '#/components/parameters/xFapiAuthDate'
         - $ref: '#/components/parameters/xFapiCustomerIpAddress'
         - $ref: '#/components/parameters/xFapiInteractionId'
         - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditFixedIncomesIdentifyProduct'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'credit-fixed-incomes'
  /investments/{investmentId}/balances:
    get:
      tags:
        - Posição do cliente
      summary: Conjunto de informações de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
      operationId: creditFixedPosition
      description: Obtém a posição da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCustomerPosition'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties' 
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'credit-fixed-incomes'
  /investments/{investmentId}/transactions:
    get:
      tags:
        - Movimentação do cliente
      summary: Conjunto de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      operationId: creditFixedMovement
      description: Obtém as movimentações da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCustomerMovement'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OpenId:
            - 'openid'
          OAuth2Security:
            - 'consent:consentId'
            - 'credit-fixed-incomes'
components:
  schemas:
    OKResponseCreditFixedIncomesProductList:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesProductList.yaml
    OKResponseCreditFixedIdentificacao:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesIdentifyProduct.yaml
    OKResponseCustomerPosition:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCustomerPosition.yaml    
    OKResponseCustomerMovement:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCustomerMovement.yaml
    Amount:
      $ref: ./schemas/credit_fixed_incomes_apis/Amount.yaml
    BlockedBalance:
      $ref: ./schemas/credit_fixed_incomes_apis/BlockedBalance.yaml
    CreditFixedIdentificacao:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIdentifyProduct.yaml
    CreditFixedIncomesLinks:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIncomesLinks.yaml
    CreditFixedIncomesMeta:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIncomesMeta.yaml
    CreditFixedLista:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedProductList.yaml
    Currency:
      $ref: ./schemas/credit_fixed_incomes_apis/Currency.yaml
    EnumCalculation:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumCalculation.yaml
    EnumTaxExemptProduct:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumTaxExemptProduct.yaml
    EnumIndexer:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumIndexer.yaml
    EnumInvestimentType:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumInvestimentType.yaml
    EnumRatePeriodicity:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumRatePeriodicity.yaml
    EnumRateType:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumRateType.yaml
    FinancialTransactionTax:
      $ref: ./schemas/credit_fixed_incomes_apis/FinancialTransactionTax.yaml
    Fine:
      $ref: ./schemas/credit_fixed_incomes_apis/Fine.yaml
    GrossAmount:
      $ref: ./schemas/credit_fixed_incomes_apis/GrossAmount.yaml
    IncomeTax:
      $ref: ./schemas/credit_fixed_incomes_apis/IncomeTax.yaml
    IndexerPercentage:
      $ref: ./schemas/credit_fixed_incomes_apis/IndexerPercentage.yaml
    IssueUnitPrice:
      $ref: ./schemas/credit_fixed_incomes_apis/IssueUnitPrice.yaml
    LatePayment:
      $ref: ./schemas/credit_fixed_incomes_apis/LatePayment.yaml
    NetAmount:
      $ref: ./schemas/credit_fixed_incomes_apis/NetAmount.yaml
    PostFixedIndexerPercentage:
      $ref: ./schemas/credit_fixed_incomes_apis/PostFixedIndexerPercentage.yaml
    PreFixedRate:
      $ref: ./schemas/credit_fixed_incomes_apis/Currency.yaml
    PurchaseUnitPrice:
      $ref: ./schemas/credit_fixed_incomes_apis/PurchaseUnitPrice.yaml
    Quantity:
      $ref: ./schemas/credit_fixed_incomes_apis/Quantity.yaml
    ReferenceDateTime:
      $ref: ./schemas/credit_fixed_incomes_apis/ReferenceDateTime.yaml
    Remuneration:
      $ref: ./schemas/credit_fixed_incomes_apis/Remuneration.yaml
    RemunerationTransactionRate:
      $ref: ./schemas/credit_fixed_incomes_apis/RemunerationTransactionRate.yaml
    TransactionDate:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionDate.yaml
    TransactionGrossValue:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionGrossValue.yaml
    TransactionId:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionId.yaml
    TransactionNetValue:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionNetValue.yaml
    TransactionQuantity:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionQuantity.yaml
    TransactionType:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumTransactionType.yaml
    TransactionUnitePrice:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionUnitePrice.yaml
    Type:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumType.yaml
    TypeAdditionalInfo:
      $ref: ./schemas/credit_fixed_incomes_apis/TypeAdditionalInfo.yaml
    UpdatedUnitPrice:
      $ref: ./schemas/credit_fixed_incomes_apis/UpdatedUnitPrice.yaml
    UpdatedUnitPriceunit:
      $ref: ./schemas/credit_fixed_incomes_apis/UpdatedUnitPriceUnit.yaml
    VoucherPaymentIndicator:
      $ref: ./schemas/credit_fixed_incomes_apis/VoucherPaymentIndicator.yaml
    VoucherPaymentPeriodicity:
      $ref: ./schemas/credit_fixed_incomes_apis/VoucherPaymentPeriodicity.yaml
    ResponseErrorMetaSingle:
      $ref: ./schemas/ResponseErrorMetaSingle.yaml
    ResponseError:
      $ref: ./schemas/ResponseErrorWithAbleAdditionalProperties.yaml
  parameters:
    InvestmentId:
      $ref: ./parameters/InvestmentId.yaml
    Authorization:
      $ref: ./parameters/Authorization.yaml
    xFapiAuthDate:
      $ref: ./parameters/XFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/XFapiInteractionId.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    pagination-key:
      $ref: ./parameters/PaginationKey.yaml
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: "Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Requer o processo de redirecionamento e autenticação do usuário a que se referem os dados."
      flows:
        authorizationCode:
          authorizationUrl: "https://authserver.example/authorization"
          tokenUrl: "https://authserver.example/token"
          scopes:
            credit-fixed-incomes: "Escopo necessário para acesso à API Credit-Fixed-Incomes. O controle dos endpoints específicos é feito via permissions."
  responses:
    OKResponseCreditFixedIncomesProductList:
      description: Lista de títulos de renda fixa crédito mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesProductList.yaml
    OKResponseCreditFixedIncomesIdentifyProduct:
      description: Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesIdentifyProduct.yaml
    OKResponseCustomerPosition:
      description: Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCustomerPosition.yaml
    OKResponseCustomerMovement:
      description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCustomerMovement.yaml
    BadRequest:
      $ref: ./responses/unpaged/BadRequest.yaml
    Forbidden:
      $ref: ./responses/unpaged/Forbidden.yaml
    GatewayTimeout:
      $ref: ./responses/unpaged/GatewayTimeout.yaml
    InternalServerError:
      $ref: ./responses/unpaged/InternalServerError.yaml
    Locked:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    MethodNotAllowed:
      $ref: ./responses/unpaged/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/unpaged/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/unpaged/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/unpaged/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/unpaged/Unauthorized.yaml
    UnprocessableEntity:
      $ref: ./responses/unpaged/UnprocessableEntity.yaml
    SiteIsOverloaded:
      description: O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    Default:
      $ref: ./responses/unpaged/Default.yaml
    BadRequestWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/BadRequest.yaml
    ForbiddenWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Forbidden.yaml
    GatewayTimeoutWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/GatewayTimeout.yaml
    InternalServerErrorWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/InternalServerError.yaml
    LockedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Locked.yaml
    MethodNotAllowedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/MethodNotAllowed.yaml
    NotAcceptableWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotAcceptable.yaml
    NotFoundWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotFound.yaml
    TooManyRequestsWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/TooManyRequests.yaml
    UnauthorizedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Unauthorized.yaml
    UnprocessableEntityWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/UnprocessableEntity.yaml
    DefaultWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Default.yaml
    SiteIsOverloadedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/SiteIsOverloaded.yaml