openapi: 3.0.0
info:
  title: API Credit Fixed Incomes - Open Finance Brasil
  description: |
    Estas APIs visam o compartilhamento de dados sobre Investimentos e suas
    características entre as Instituições Financeiras participantes do Open Finance Brasil
  version: 1.0.0-rc2.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/opendata-investments/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/opendata-investments/v1'
    description: Servidor de Homologação
tags:
  - name: Listagem de produtos
    description: Método para obter a lista de Fundos de Investimentos
  - name: Identificação do produto
    description: 'Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)'
  - name: Customer Position
    description: 'Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)'
  - name: Customer Movement
    description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
paths:
  /listagemdeprodutos:
    get:
      tags:
        - Listagem de produtos
      summary: Conjunto de informações dos Fundos de Investimentos
      operationId: creditFixedLista
      description: Método para obter a lista de Fundos de Investimentos
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseListagem'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
  /identificaçãodoproduto:
    get:
      tags:
        - Identificação do produto
      summary: 'Conjunto de informações de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)'
      operationId: investmentsGetFixedIncomeBank
      description: 'Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)'
      parameters:
        - $ref: '#/components/parameters/investmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseIdentificacao'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
  /customer-position:
    get:
      tags:
        - Customer Position
      summary: 'Conjunto de informações de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)'
      operationId: investmentsGetFixedIncomeCredit
      description: 'Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)'
      parameters:
        - $ref: '#/components/parameters/investmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
  /customer-movement:
    get:
      tags:
        - Customer Movement
      summary: Conjunto de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      operationId: investmentsGetVariableIncome
      description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      parameters:
        - $ref: '#/components/parameters/investmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
components:
  schemas:
    OKResponseInvestmentsFund:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - participant
              - name
              - cnpjNumber
              - admin
              - fundManager
              - anbimaCategory
              - generalConditions
              - taxation
              - fees
            properties:
              participant:
                type: object
                description: Conjunto de informações relativas ao participante do produto de Open Finance
                required:
                  - brand
                  - name
                  - cnpjNumber
                properties:
                  brand:
                    type: string
                    description: 'Nome da marca reportada pelo participante do Open Finance. O conceito a que se refere a ''marca'' é em essência uma promessa da empresa em fornecer uma série específica de atributos, benefícios e serviços uniformes aos clientes.'
                    maxLength: 80
                    pattern: '[\w\W\s]*'
                    example: Organização
                  name:
                    type: string
                    description: Nome do participante do Open Finance.
                    maxLength: 80
                    pattern: '[\w\W\s]*'
                    example: Organização A1
                  cnpjNumber:
                    type: string
                    description: 'O CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
                    maxLength: 14
                    pattern: '^\d{14}$'
                    example: '13456789000112'
                  urlComplementaryList:
                    type: string
                    description: |
                      Array de objeto com a estrutura abaixo:

                      - 'name' com o valor contido no campo ‘LegalEntityName’ conforme cadastro no diretório;

                      - 'cnpjNumber' com o valor contido no campo CNPJ (‘RegistrationNumber’) correspondente a esta instituição;

                      \- Ambos do tipo string;

                      \- Ambos obrigatórios. 
                    maxLength: 1024
                    pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
                    example: 'https://empresaa1.com/companies'
                additionalProperties: false
              name:
                type: string
                description: Nome oficial do fundo de investimento.
                pattern: '[\w\W\s]*'
                maxLength: 250
                example: FUNDO DE INVESTIMENTO EM COTAS DE FUNDOS DE INVESTIMENTO
              cnpjNumber:
                type: string
                description: CNPJ do fundo de investimento.
                maxLength: 14
                pattern: '^\d{14}$'
                example: '64108803000191'
              isinCode:
                type: string
                description: 'Código universal que identifica cada valor mobiliário ou instrumento financeiro, conforme Norma ISO 6166.<br><br>DEFINIÇÃO&#58;O ISIN (International Securities Identification Number) é um código que identifica um valor mobiliário, conforme a norma ISO 6166.<br>ESTRUTURA<br>O ISIN é um código alfanumérico que possui 12 caracteres com a seguinte estrutura&#58;<ul><li>um prefixo, composto de 2 caracteres alfa, que identifica o código do país (Norma ISO 3166);</li><li>o número básico, composto de 9 caracteres alfabéticos ou numéricos em sua extensão;</li><li>um dígito numérico de controle.</li></ul>'
                maxLength: 12
                minLength: 12
                pattern: '^[A-Z]{2}([A-Z0-9]){9}\d{1}$'
                example: BRAAAAAAA000
              admin:
                type: object
                required:
                  - name
                  - cnpjNumber
                properties:
                  name:
                    type: string
                    description: Razão social da pessoa jurídica autorizada pela CVM para o exercício de administrador de carteiras de valores mobiliários e responsável pela administração do fundo.
                    maxLength: 100
                    pattern: '[\w\W\s]*'
                    example: ADM OPEN FINANCE DTVM S.A.
                  cnpjNumber:
                    type: string
                    description: CNPJ do administrador.
                    maxLength: 14
                    pattern: '^\d{14}$'
                    example: '14511732000150'
                additionalProperties: false
              fundManager:
                type: object
                required:
                  - name
                  - cnpjNumber
                properties:
                  name:
                    type: string
                    description: Pessoa natural ou jurídica responsável pela gestão profissional dos ativos da carteira de valores mobiliários autorizado pela CVM.
                    maxLength: 100
                    pattern: '[\w\W\s]*'
                    example: GESTOR OPEN FINANCE DTVM S.A.
                  cnpjNumber:
                    type: string
                    description: CNPJ do gestor do fundo de investimento.
                    maxLength: 14
                    pattern: '^\d{14}$'
                    example: '16332711000101'
                additionalProperties: false
              anbimaCategory:
                type: string
                description: |
                  Conforme classificação ANBIMA

                  – Renda Fixa

                  – Ações

                  – Multimercado

                  – Cambial
                enum:
                  - RENDA_FIXA
                  - ACOES
                  - MULTIMERCADO
                  - CAMBIAL
                example: MULTIMERCADO
              fees:
                type: object
                required:
                  - maxAdminFee
                properties:
                  maxAdminFee:
                    type: string
                    description: 'Taxa máxima cobrada para remunerar o administrador e os demais prestadores de serviços do fundo. Caso não haja a difererença de Máximo e Mínimo, considerar a taxa de administração do fundo.'
                    minLength: 8
                    maxLength: 8
                    pattern: '^\d{1}\.\d{6}$'
                    example: '0.020000'
                  entryFee:
                    type: string
                    description: 'Taxa cobrada no momento da aplicação, que incide sobre o valor investido no fundo.'
                    minLength: 8
                    maxLength: 8
                    pattern: '^\d{1}\.\d{6}$'
                    example: '0.010000'
                  performanceFee:
                    type: object
                    properties:
                      method:
                        type: string
                        description: Metodologia do campo para taxa de performance.<br><ol><li>Passivo</li><li>Ativo</li><li>Ajuste</li></ol>
                        enum:
                          - PASSIVO
                          - ATIVO
                          - AJUSTE
                        example: PASSIVO
                      benchmark:
                        type: string
                        description: 'Índice utilizado como referência para avaliação de desempenho do fundo de investimento.<br><br>Em linha com padronização na listagem de fundos da ANBIMA, com opção “outros”, permitindo campo livre caso a opção não seja previamente fornecida. Listagem de benchmark disponível no link https://data.anbima.com.br/fundos , opção Características > Benchmark'
                        enum:
                          - CDI
                          - IBOVESPA_FECHAMENTO
                          - IBOVESPA
                          - IMA_B
                          - IBRX
                          - IPCA
                          - IMA_B_5
                          - DOLAR_PTAX
                          - IBRX_100
                          - TAXA_SELIC
                          - IMA_B_5_PLUS
                          - IBOVESPA_MEDIO
                          - IRF_M
                          - IMA_GERAL
                          - INPC
                          - IGP_M
                          - SMLL_SMALL_CAP
                          - IDA_IPCA
                          - ISE
                          - IRF_M_1
                          - IBRX_50
                          - IDIV_DIVIDENDOS
                          - IFIX
                          - GLOBAL_BDRX
                          - IMA_S
                          - IDKA_IPCA_2A
                          - IRF_M_1_PLUS
                          - OUTROS
                        example: CDI
                      benchmarkAdditionalInfo:
                        type: string
                        description: Campo a ser preenchido pelas participantes quando houver ‘Outros’ no campo ‘Taxa de Performance - Benchmark’.
                      amount:
                        type: string
                        description: Taxa cobrada do fundo em função de resultado conforme regras dispostas no regulamento do fundo.
                        minLength: 3
                        maxLength: 8
                        pattern: '^\d{1}\.\d{1,6}$'
                        example: '0.050000'
                    additionalProperties: false
                  exitFee:
                    type: string
                    description: Taxa paga pelo cotista ao resgatar recursos de um fundo.
                    minLength: 8
                    maxLength: 8
                    pattern: '^\d{1}\.\d{6}$'
                    example: '0.030000'
                additionalProperties: false
              generalConditions:
                type: object
                required:
                  - minimumAmount
                  - redemption
                  - application
                  - fundQuotaType
                properties:
                  minimumAmount:
                    type: object
                    required:
                      - value
                      - currency
                    properties:
                      value:
                        type: string
                        description: Valor mínimo do primeiro aporte.
                        minLength: 4
                        maxLength: 19
                        pattern: '^\d{1,16}\.\d{2}$'
                        example: '100000.12'
                      currency:
                        type: string
                        pattern: '^[A-Z]{3}$'
                        maxLength: 3
                        description: 'Moeda referente ao valor monetário, seguindo o modelo ISO-4217.'
                        example: BRL
                    additionalProperties: false
                  redemption:
                    type: object
                    required:
                      - quotationDays
                      - quotationTerm
                      - paymentDays
                      - paymentTerm
                    properties:
                      quotationDays:
                        type: integer
                        format: int32
                        description: Prazo máximo em dias indicado no regulamento do fundo para a conversão das cotas em dinheiro.
                        example: 3
                        minimum: 0
                        maximum: 2147483647
                      quotationTerm:
                        $ref: '#/components/schemas/OKResponseInvestmentsFund/properties/data/items/properties/generalConditions/properties/redemption/properties/paymentTerm'
                      paymentDays:
                        type: integer
                        format: int32
                        description: 'Prazo máximo em dias do efetivo pagamento, pelo fundo, do valor líquido devido ao cotista que efetuou pedido de resgate.'
                        example: 3
                        minimum: 0
                        maximum: 2147483647
                      paymentTerm:
                        type: string
                        description: Período em dias corridos ou dias úteis do prazo de cotização.<br><br><ol><li>Dias corridos</li><li>Dias úteis</li></ol>
                        enum:
                          - DIAS_CORRIDOS
                          - DIAS_UTEIS
                        example: DIAS_CORRIDOS
                      graceDays:
                        type: integer
                        format: int32
                        description: 'Estabelece um período em quantidade de dias corridos em que o investidor não pode resgatar os recursos aplicados no fundo. Caso ocorra resgate antes do período, o investidor perderá a rentabilidade do período. Caso não exista, não informe o campo.'
                        example: 365
                        minimum: 0
                        maximum: 2147483647
                    additionalProperties: false
                  application:
                    type: object
                    required:
                      - quotationDays
                      - quotationTerm
                    properties:
                      quotationDays:
                        type: integer
                        format: int32
                        description: Prazo em dias indicado no regulamento do fundo para a conversão do dinheiro em cotas do fundo.
                        example: 60
                        minimum: 0
                        maximum: 2147483647
                      quotationTerm:
                        $ref: '#/components/schemas/OKResponseInvestmentsFund/properties/data/items/properties/generalConditions/properties/redemption/properties/paymentTerm'
                    additionalProperties: false
                  fundQuotaType:
                    type: string
                    description: Referente a incidência de tributos sobre o produto de investimento&#58;<br><br><ol><li>Cota de abertura</li><li>Cota de fechamento</li></ol>
                    enum:
                      - COTA_ABERTURA
                      - COTA_FECHAMENTO
                    example: COTA_ABERTURA
                additionalProperties: false
              taxation:
                type: string
                description: 'Indica o tipo de tributação, podendo ser&#58;<br><ol><li>Curto prazo</li><li>Longo prazo</li><li>Variável</li></ol>'
                enum:
                  - CURTO_PRAZO
                  - LONGO_PRAZO
                  - VARIAVEL
                example: CURTO_PRAZO
            additionalProperties: false
        links:
          type: object
          description: Referências para outros recusos da API requisitada.
          required:
            - self
          properties:
            self:
              type: string
              format: uri
              maxLength: 2000
              description: URI completo que gerou a resposta atual.
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            first:
              type: string
              format: uri
              maxLength: 2000
              description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            prev:
              type: string
              format: uri
              maxLength: 2000
              description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            next:
              type: string
              format: uri
              maxLength: 2000
              description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            last:
              type: string
              format: uri
              maxLength: 2000
              description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https?:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
          additionalProperties: false
        meta:
          type: object
          description: Meta informações referente à API requisitada.
          required:
            - totalRecords
            - totalPages
          properties:
            totalRecords:
              type: integer
              format: int32
              description: Número total de registros no resultado
              example: 1
            totalPages:
              type: integer
              format: int32
              description: Número total de páginas no resultado
              example: 1
          additionalProperties: false
      additionalProperties: false
    OKResponseListagem:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - brandName
              - companyCnpj
              - investmentType
              - investmentId
            properties:
              brandName:
                type: string
                description: 'Nome da Marca reportada pelo participante no Open Finance. Recomenda-se utilizar, sempre que possível, o mesmo nome de marca atribuído no campo do diretório Customer Friendly Server Name (Authorisation Server).'
                pattern: '[\w\W\s]*'
                maxLength: 80
                example: Organização A
              companyCnpj:
                type: string
                description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
                maxLength: 14
                pattern: '^\d{14}$'
                example: '21128159000166'
              investmentType:
                type: string
                description: |
                  Denominação do produto 
                    1. Debêntures
                    2. CRI
                    3. CRA
                enum:
                  - DEBENTURES
                  - CRI
                  - CRA
                example: CRI
              investmentId:
                type: string
                description: 'Código universal que identifica cada valor mobiliário ou instrumento financeiro, conforme Norma ISO 6166.<br><br>DEFINIÇÃO&#58;O ISIN (International Securities Identification Number) é um código que identifica um valor mobiliário, conforme a norma ISO 6166.<br>ESTRUTURA<br>O ISIN é um código alfanumérico que possui 12 caracteres com a seguinte estrutura&#58;<ul><li>um prefixo, composto de 2 caracteres alfa, que identifica o código do país (Norma ISO 3166);</li><li>o número básico, composto de 9 caracteres alfabéticos ou numéricos em sua extensão;</li><li>um dígito numérico de controle.</li></ul>'
                maxLength: 100
                pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$'
                example: '9.27921E+40'
        links:
          type: object
          description: Referências para outros recusos da API requisitada.
          required:
            - self
          properties:
            self:
              type: string
              format: uri
              maxLength: 2000
              description: URI completo que gerou a resposta atual.
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            first:
              type: string
              format: uri
              maxLength: 2000
              description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            prev:
              type: string
              format: uri
              maxLength: 2000
              description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
            next:
              type: string
              format: uri
              maxLength: 2000
              description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
              example: 'https://api.banco.com.br/open-banking/api/v1/resource'
              pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        meta:
          type: object
          description: Meta informações referente a API requisitada.
          required:
            - totalRecords
            - totalPages
            - requestDateTime
          properties:
            totalRecords:
              type: integer
              format: int32
              description: Número total de registros no resultado
              example: 1
            totalPages:
              type: integer
              format: int32
              description: Número total de páginas no resultado
              example: 1
            requestDateTime:
              description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
              type: string
              maxLength: 20
              format: date-time
              example: '2021-05-21T08:30:00Z'
    OKResponseIdentificacao:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            type: object
            required:
              - cnpjNumber
              - investmentType
              - debtorCnpjnNumber
              - incentivizedProductIndicator
              - indexer
              - remuneration
              - issueUnitPrice
            properties:
              cnpjNumber:
                type: string
                description: CNPJ da instituição emissora
                maxLength: 14
                pattern: '^\d{14}$'
                example: '11225860000140'
              isinCode:
                type: string
                description: 'Código ISIN da emissão, Código ISIN do produto, Código da emissora (campo opcional) código universal que identifica cada valor mobiliário ou instrumento financeiro, conforme Norma ISO 6166;'
                maxLength: 12
                pattern: '^[A-Z]{2}([A-Z0-9]){9}\d{1}$'
                example: BRCST4CTF001
              investmentType:
                $ref: '#/paths/~1listagemdeprodutos/get/responses/200/content/application~1json/schema/properties/data/items/properties/investmentType'
              debtorCnpjnNumber:
                type: string
                description: CNPJ do devedor (condicional para CRI e CRA)
                maxLength: 14
                pattern: '^\d{14}$'
                example: '11225860000140'
              debtorName:
                type: string
                description: 'Nome da Marca reportada pelo participante no Open Finance. Recomenda-se utilizar, sempre que possível, o mesmo nome de marca atribuído no campo do diretório Customer Friendly Server Name (Authorisation Server).'
                pattern: '[\w\W\s]*'
                maxLength: 50
                example: Roberto Marino
              incentivizedProductIndicator:
                type: string
                description: Indicador de um produto incentivado
                enum:
                  - SIM
                  - NAO
                example: SIM
              indexer:
                type: string
                description: |
                  Índice utilizado como referência para a correção da rentabilidade e/ou rendimentos do ativo 
                  1. CDI
                  2. DI 
                  3. TR
                  4. IPCA
                  5. IGP_M
                  6. IGP_DI
                  7. INPC
                  8. BCP
                  10. TLC
                  11. SELIC
                  12. PRE_FIXADO
                  13. OUTROS
                enum:
                  - CDI
                  - DI
                  - TR
                  - IPCA
                  - IGP_M
                  - IGP_DI
                  - INPC
                  - BCP
                  - TLC
                  - SELIC
                  - PRE_FIXADO
                  - OUTROS
                example: CDI
              indexerAdditionalInfo:
                type: string
                description: Informações adicionais do indexador
                pattern: '[\w\W\s]*'
                maxLength: 50
                example: Dólar
              remuneration:
                type: object
                required:
                  - rateType
                  - ratePeriodicity
                  - calculation
                properties:
                  preFixedRate:
                    type: string
                    description: Valor da taxa de emissão do contrato
                    maxLength: 8
                    pattern: '^\d{1}\.\d{1,6}$'
                    example: '0.300000'
                  postFixedIndexerPercentage:
                    type: string
                    description: Percentual do indexador de emissão do contrato
                    maxLength: 8
                    pattern: '^\d{1}\.\d{1,6}$'
                    example: '1.100000'
                  rateType:
                    type: string
                    description: |
                      Tipo da taxa de remuneração
                        1. LINEAR
                        2. EXPONENCIAL
                    enum:
                      - LINEAR
                      - EXPONENCIAL
                    example: LINEAR
                  ratePeriodicity:
                    type: string
                    description: |
                      Periodicidade da taxa de remuneração
                        1. MENSAL
                        2. ANUAL
                    enum:
                      - MENSAL
                      - ANUAL
                    example: MENSAL
                  calculation:
                    type: string
                    description: |
                      Base de cálculo
                        1. dias úteis
                        2. dias corridos
                    enum:
                      - DIAS UTEIS
                      - DIAS CORRIDOS
                    example: DIAS CORRIDOS
              issueUnitPrice:
                type: object
                required:
                  - amount
                  - currency
                  - issueDate
                  - dueDate
                  - voucherPaymentIndicator
                  - voucherPaymentPeriodicity
                  - purchaseDate
                  - gracePeriodDate
                properties:
                  amount:
                    type: string
                    description: Valor relacionado ao objeto.
                    maxLength: 23
                    pattern: '^-?\d{1,15}\.\d{2,6}$'
                    example: '1000.000004'
                  currency:
                    type: string
                    description: 'Moeda referente ao valor monetário, seguindo o modelo ISO-4217.'
                    maxLength: 3
                    pattern: '^[A-Z]{3}$'
                    example: BRL
                  issueDate:
                    type: string
                    format: date
                    description: Data de emissão do título
                    maxLength: 10
                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                    example: '2018-02-16'
                  dueDate:
                    type: string
                    format: date
                    description: Data de vencimento do contrato
                    maxLength: 10
                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                    example: '2018-02-15'
                  voucherPaymentIndicator:
                    type: string
                    description: |
                      Indicativo se há pagamento de cupom
                        1. Sim
                        2. Nao
                    enum:
                      - SIM
                      - NAO
                    example: SIM
                  voucherPaymentPeriodicity:
                    type: string
                    description: |
                      Em caso de haver pagamento de cupom, descrever a periodicidade (mensal, trimestral, semestral, anual, irregular e outros)
                        1. Mensal
                        2. Trimestral
                        3. Semestral
                        4. Anual
                        5. Irregular
                        6. Outros
                    enum:
                      - MENSAL
                      - TRIMESTRAL
                      - SEMESTRAL
                      - ANUAL
                      - IRREGULAR
                      - OUTROS
                    example: MENSAL
                  voucherPaymentPeriodicityAdditionalInfo:
                    type: string
                    description: Informações adicionais da periodicidade de pagamento de cupom
                    maxLength: 50
                    pattern: '[\w\W\s]*'
                    example: Diária
                  purchaseDate:
                    type: string
                    format: date
                    description: Data de aquisição do cliente
                    maxLength: 10
                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                    example: '2018-02-15'
                  gracePeriodDate:
                    type: string
                    format: date
                    description: Data até a qual o cliente não poderá resgatar antecipadamente seu investimento
                    maxLength: 11
                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                    example: '2018-02-16'
        links:
          $ref: '#/components/schemas/OKResponseListagem/properties/links'
        meta:
          $ref: '#/components/schemas/OKResponseListagem/properties/meta'
  parameters:
    investmentId:
      name: investmentId
      in: path
      description: Identificador.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        maxLength: 100
    Authorization:
      name: Authorization
      in: header
      description: Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado
      required: true
      schema:
        type: string
        pattern: '[\w\W\s]*'
        maxLength: 2048
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: 'Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC'
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
        minLength: 29
        maxLength: 29
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
      required: false
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        minLength: 1
        maxLength: 100
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
        maximum: 2147483647
        format: int32
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
        format: int32
        maximum: 1000
    pagination-key:
      name: pagination-key
      in: query
      description: 'Identificador de rechamada, utilizado para evitar a contagem de chamadas ao endpoint durante a paginação.'
      schema:
        type: string
        maxLength: 2048
        pattern: '[\w\W\s]*'
  responses:
    OKResponseListagem:
      description: Lista de títulos de renda fixa crédito mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseListagem'
    OKResponseIdentificacao:
      description: Lista de títulos de renda fixa crédito mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseIdentificacao'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    GatewayTimeout:
      description: GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    Locked:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                minItems: 1
                maxItems: 13
                items:
                  type: object
                  required:
                    - code
                    - title
                    - detail
                  properties:
                    code:
                      description: Código de erro específico do endpoint
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    title:
                      description: Título legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    detail:
                      description: Descrição legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 2048
              meta:
                type: object
                description: Meta informações referente à API requisitada.
                required:
                  - requestDateTime
                properties:
                  requestDateTime:
                    description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                    type: string
                    maxLength: 20
                    format: date-time
                    example: '2021-05-21T08:30:00Z'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    UnprocessableEntity:
      description: 'A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    SiteIsOverloaded:
      description: 'O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    Default:
      description: Erro inesperado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/Locked/content/application~1json%3B%20charset%3Dutf-8/schema'
    BadRequestWithAdditionalProperties:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    ForbiddenWithAdditionalProperties:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    GatewayTimeoutWithAdditionalProperties:
      description: GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    InternalServerErrorWithAdditionalProperties:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    LockedWithAdditionalProperties:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            type: object
            required:
              - errors
            properties:
              errors:
                type: array
                minItems: 1
                maxItems: 13
                items:
                  type: object
                  required:
                    - code
                    - title
                    - detail
                  properties:
                    code:
                      description: Código de erro específico do endpoint
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    title:
                      description: Título legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 255
                    detail:
                      description: Descrição legível por humanos deste erro específico
                      type: string
                      pattern: '[\w\W\s]*'
                      maxLength: 2048
              meta:
                type: object
                description: Meta informações referente à API requisitada.
                required:
                  - totalRecords
                  - totalPages
                  - requestDateTime
                properties:
                  totalRecords:
                    type: integer
                    format: int32
                    description: Número total de registros no resultado
                    example: 1
                  totalPages:
                    type: integer
                    format: int32
                    description: Número total de páginas no resultado
                    example: 1
                  requestDateTime:
                    description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
                    type: string
                    maxLength: 20
                    format: date-time
                    example: '2021-05-21T08:30:00Z'
    MethodNotAllowedWithAdditionalProperties:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotAcceptableWithAdditionalProperties:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    NotFoundWithAdditionalProperties:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    TooManyRequestsWithAdditionalProperties:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    UnauthorizedWithAdditionalProperties:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    UnprocessableEntityWithAdditionalProperties:
      description: 'A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    DefaultWithAdditionalProperties:
      description: Erro inesperado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
    SiteIsOverloadedWithAdditionalProperties:
      description: 'O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/responses/LockedWithAdditionalProperties/content/application~1json%3B%20charset%3Dutf-8/schema'
