openapi: 3.0.0
info:
  title: API Credit Fixed Incomes - Open Finance Brasil
  description: |
    API de informações de operações de Renda Fixa Crédito do Open Finance Brasil – Fase 4. API que retorna informações de operações de investimento do tipo Renda Fixa Crédito (Debêntures, CRI/CRA) mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação do produto, rentabilidade, quantidade, prazos, saldos em posição do cliente e movimentações financeiras. Não possui segregação entre pessoa natural e pessoa jurídica. 
    Requer consentimento do cliente para todos os endpoints.
  version: 1.0.0-rc1.0
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/opendata-investments/v1'
    description: Servidor de Produção
  - url: 'https://apih.banco.com.br/open-banking/opendata-investments/v1'
    description: Servidor de Homologação
tags:
  - name: Listagem de produto
    description: Método para obter a lista de Fundos de Investimentos
  - name: Identificação do produto
    description: 'Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)'
  - name: Posição do cliente
    description: 'Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)'
  - name: Movimentação do cliente
    description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
paths:
  /list-products:
    get:
      tags:
        - Listagem de produto
      summary: Conjunto de informações dos Fundos de Investimentos
      operationId: creditFixedLista
      description: Obtém a lista de operações de Renda Fixa Crédito mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditFixedIncomesProductList'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - credit-fixed-incomes
  '/identify-product/{investmentId}':
    get:
      tags:
        - Identificação do produto
      summary: 'Conjunto de informações de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)'
      operationId: creditFixedIdentificacao
      description: Obtém os dados da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCreditFixedIncomesIdentifyProduct'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - credit-fixed-incomes
  '/credit-fixed-incomes/{investmentId}/balances':
    get:
      tags:
        - Posição do cliente
      summary: 'Conjunto de informações de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)'
      operationId: creditFixedPosition
      description: Obtém a posição da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCustomerPosition'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - credit-fixed-incomes
  '/credit-fixed-incomes/{investmentId}/transactions':
    get:
      tags:
        - Movimentação do cliente
      summary: Conjunto de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      operationId: creditFixedMovement
      description: Obtém as movimentações da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseCustomerMovement'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        default:
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OpenId:
            - openid
          OAuth2Security:
            - 'consent:consentId'
            - credit-fixed-incomes
components:
  schemas:
    OKResponseCreditFixedIncomesProductList:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreditFixedLista'
        links:
          $ref: '#/components/schemas/CreditFixedIncomesLinks'
        meta:
          $ref: '#/components/schemas/CreditFixedIncomesMeta'
    OKResponseCreditFixedIdentificacao:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CreditFixedIdentificacao'
        links:
          $ref: '#/components/schemas/CreditFixedIncomesLinks'
        meta:
          $ref: '#/components/schemas/CreditFixedIncomesMeta'
    OKResponseCustomerPosition:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - referenceDateTime
            - updatedUnitPrice
            - grossAmount
            - netAmount
            - incomeTax
            - financialTransactionTax
            - blockedBalance
            - purchaseUnitPrice
            - fine
            - latePayment
          properties:
            referenceDateTime:
              $ref: '#/components/schemas/ReferenceDateTime'
            updatedUnitPrice:
              $ref: '#/components/schemas/UpdatedUnitPriceunit'
            grossAmount:
              $ref: '#/components/schemas/GrossAmount'
            netAmount:
              $ref: '#/components/schemas/NetAmount'
            incomeTax:
              $ref: '#/components/schemas/IncomeTax'
            financialTransactionTax:
              $ref: '#/components/schemas/FinancialTransactionTax'
            blockedBalance:
              $ref: '#/components/schemas/BlockedBalance'
            purchaseUnitPrice:
              $ref: '#/components/schemas/PurchaseUnitPrice'
            preFixedRate:
              type: string
              description: |
                Taxa de remuneração acordada com o cliente na contratação. Em casos de produtos progressivos, considerar taxa vigente  
                [Restrição] Campo de preenchimento obrigatório pelas  participantes quando houver 'PRE_FIXADO' no campo 'Indexador'.
              maxLength: 8
              pattern: '^\d{1}\.\d{1,6}$'
              example: '0.300000'
            postFixedIndexerPercentage:
              $ref: '#/components/schemas/PostFixedIndexerPercentage'
            fine:
              $ref: '#/components/schemas/Fine'
            latePayment:
              $ref: '#/components/schemas/LatePayment'
        links:
          $ref: '#/components/schemas/CreditFixedIncomesLinks'
        meta:
          $ref: '#/components/schemas/CreditFixedIncomesMeta'
    OKResponseCustomerMovement:
      type: object
      required:
        - data
        - links
        - meta
      properties:
        data:
          type: object
          required:
            - type
            - transactionType
            - transactionDate
            - transactionUnitePrice
            - transactionQuantity
            - transactionGrossValue
            - transactionNetValue
            - transactionId
          properties:
            type:
              $ref: '#/components/schemas/Type'
            transactionType:
              $ref: '#/components/schemas/TransactionType'
            typeAdditionalInfo:
              $ref: '#/components/schemas/TypeAdditionalInfo'
            transactionDate:
              $ref: '#/components/schemas/TransactionDate'
            transactionUnitePrice:
              $ref: '#/components/schemas/TransactionUnitePrice'
            transactionQuantity:
              $ref: '#/components/schemas/TransactionQuantity'
            transactionGrossValue:
              $ref: '#/components/schemas/TransactionGrossValue'
            incomeTax:
              $ref: '#/components/schemas/IncomeTax'
            financialTransactionTax:
              $ref: '#/components/schemas/FinancialTransactionTax'
            transactionNetValue:
              $ref: '#/components/schemas/TransactionNetValue'
            remunerationTransactionRate:
              $ref: '#/components/schemas/RemunerationTransactionRate'
            indexerPercentage:
              $ref: '#/components/schemas/IndexerPercentage'
            transactionId:
              $ref: '#/components/schemas/TransactionId'
        links:
          $ref: '#/components/schemas/CreditFixedIncomesLinks'
        meta:
          $ref: '#/components/schemas/CreditFixedIncomesMeta'
    Amount:
      type: string
      format: double
      pattern: '^-?\d{1,15}\.\d{2,8}$'
      maxLength: 20
      minLength: 4
      example: '1000.0400'
      description: Valor relacionado ao objeto.
    BlockedBalance:
      type: object
      description: 'valor líquido não disponível para movimentação naquele momento por qualquer motivo (bloqueio judicial, bloqueio em garantia, entre outros)'
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    CreditFixedIdentificacao:
      type: object
      required:
        - issuerInstitutionCnpjNumber
        - investmentType
        - debtorCnpjNumber
        - indexer
        - remuneration
        - issueUnitPrice
        - issueDate
        - dueDate
        - voucherPaymentIndicator
        - voucherPaymentPeriodicity
        - purchaseDate
        - gracePeriodDate
      properties:
        issuerInstitutionCnpjNumber:
          type: string
          description: CNPJ da instituição emissora
          maxLength: 14
          pattern: '^\d{14}$'
          example: '11225860000140'
        isinCode:
          type: string
          description: |
            Código ISIN da emissão, Código ISIN do produto, Código da emissora (campo opcional): código universal que identifica cada valor mobiliário ou instrumento financeiro, conforme Norma ISO 6166.
          maxLength: 12
          pattern: '^[A-Z]{2}([A-Z0-9]){9}\d{1}$'
          example: BRCST4CTF001
        investmentType:
          $ref: '#/components/schemas/EnumInvestimentType'
        debtorCnpjNumber:
          type: string
          description: |
            CNPJ do devedor (condicional para CRI e CRA)  
            [Restrição] Campo de preenchimento obrigatório pelas participantes quando o tipo do investimento for igual a "CRI" ou "CRA".
          maxLength: 14
          pattern: '^\d{14}$'
          example: '11225860000140'
        debtorName:
          type: string
          description: |
            Nome da Marca reportada pelo participante no Open Finance. Recomenda-se utilizar, sempre que possível, o mesmo nome de marca atribuído no campo do diretório Customer Friendly Server Name (Authorisation Server).  
            [Restrição] Campo de preenchimento obrigatório pelas participantes quando o tipo do investimento for igual a "CRI" ou "CRA".
          pattern: '[\w\W\s]*'
          maxLength: 50
          example: Roberto Marino
        indexer:
          $ref: '#/components/schemas/EnumIndexer'
        indexerAdditionalInfo:
          type: string
          description: Informações adicionais do indexador
          pattern: '[\w\W\s]*'
          maxLength: 50
          example: Dólar
        remuneration:
          $ref: '#/components/schemas/Remuneration'
        issueUnitPrice:
          $ref: '#/components/schemas/IssueUnitPrice'
        issueDate:
          type: string
          format: date
          description: Data de emissão do título
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2018-02-16'
        dueDate:
          type: string
          format: date
          description: Data de vencimento do contrato
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2018-02-15'
        voucherPaymentIndicator:
          $ref: '#/components/schemas/VoucherPaymentIndicator'
        voucherPaymentPeriodicity:
          $ref: '#/components/schemas/VoucherPaymentPeriodicity'
        voucherPaymentPeriodicityAdditionalInfo:
          type: string
          description: |
            Informações adicionais da periodicidade de pagamento de cupom  
            [Restrição] Campo de preenchimento obrigatório pelas participantes quando houver 'Outros' no campo 'Periodicidade de pagamento de cupom'.
          maxLength: 50
          pattern: '[\w\W\s]*'
          example: Diária
        clearingCode:
          type: string
          description: Código de registro do ativo na clearing
          maxLength: 30
          pattern: '[\w\W-]*'
          example: CDB421GPXXX
        purchaseDate:
          type: string
          format: date
          description: Data de aquisição do cliente
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2018-02-15'
        gracePeriodDate:
          type: string
          format: date
          description: Data até a qual o cliente não poderá resgatar antecipadamente seu investimento
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2018-02-16'
    CreditFixedIncomesLinks:
      type: object
      description: Referências para outros recusos da API requisitada.
      required:
        - self
      properties:
        self:
          type: string
          format: uri
          maxLength: 2000
          description: URI completo que gerou a resposta atual.
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        first:
          type: string
          format: uri
          maxLength: 2000
          description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        prev:
          type: string
          format: uri
          maxLength: 2000
          description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
        next:
          type: string
          format: uri
          maxLength: 2000
          description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
          pattern: '^(https:\/\/)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&\/\/=]*)$'
    CreditFixedIncomesMeta:
      type: object
      description: Meta informações referente a API requisitada.
      required:
        - totalRecords
        - totalPages
        - requestDateTime
      properties:
        totalRecords:
          type: integer
          format: int32
          description: Número total de registros no resultado
          example: 1
        totalPages:
          type: integer
          format: int32
          description: Número total de páginas no resultado
          example: 1
        requestDateTime:
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
    CreditFixedLista:
      type: object
      description: Lista de títulos de renda fixa crédito mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      required:
        - brandName
        - companyCnpj
        - investmentType
        - investmentId
      properties:
        brandName:
          type: string
          description: 'Nome da Marca reportada pelo participante no Open Finance. Recomenda-se utilizar, sempre que possível, o mesmo nome de marca atribuído no campo do diretório Customer Friendly Server Name (Authorisation Server).'
          pattern: '[\w\W\s]*'
          maxLength: 80
          example: Organização A
        companyCnpj:
          type: string
          description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara'
          maxLength: 14
          pattern: '^\d{14}$'
          example: '21128159000166'
        investmentType:
          $ref: '#/components/schemas/EnumInvestimentType'
        investmentId:
          type: string
          description: 'Identifica de forma única  o relacionamento do cliente com o produto, mantendo as regras de imutabilidade dentro da instituição transmissora.'
          maxLength: 100
          pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$'
          example: '92792126019929200000000000000000000000000'
    Currency:
      type: string
      description: 'Moeda referente ao valor monetário, seguindo o modelo ISO-4217.'
      maxLength: 3
      pattern: '^[A-Z]{3}$'
      example: BRL
    EnumCalculation:
      type: string
      description: |
        Base de cálculo
          1. dias úteis
          2. dias corridos
      enum:
        - DIAS UTEIS
        - DIAS CORRIDOS
      example: DIAS CORRIDOS
    EnumTaxExemptProduct:
      type: string
      description: Indicador de um produto incentivado
      enum:
        - SIM
        - NAO
      example: SIM
    EnumIndexer:
      type: string
      description: |
        Índice utilizado como referência para a correção da rentabilidade e/ou rendimentos do ativo 
        1. CDI
        2. DI 
        3. TR
        4. IPCA
        5. IGP_M
        6. IGP_DI
        7. INPC
        8. BCP
        10. TLC
        11. SELIC
        12. PRE_FIXADO
        13. OUTROS
      enum:
        - CDI
        - DI
        - TR
        - IPCA
        - IGP_M
        - IGP_DI
        - INPC
        - BCP
        - TLC
        - SELIC
        - PRE_FIXADO
        - OUTROS
      example: CDI
    EnumInvestimentType:
      type: string
      description: 'Especificação do ativo em questão (Debêntures, CRI ou CRA).'
      enum:
        - DEBENTURES
        - CRI
        - CRA
      example: CRI
    EnumRatePeriodicity:
      type: string
      description: 'Periodicidade da taxa de remuneração (mensal, anual, diário, semestral)'
      enum:
        - MENSAL
        - ANUAL
        - DIÁRIO
        - SEMESTRAL
      example: MENSAL
    EnumRateType:
      type: string
      description: |
        Tipo da taxa de remuneração
          1. LINEAR
          2. EXPONENCIAL
      enum:
        - LINEAR
        - EXPONENCIAL
      example: LINEAR
    FinancialTransactionTax:
      type: object
      description: |
        valor do imposto considerando a alíquota vigente na data de referência  
        [Restrição] Campo de preenchimento obrigatório pelas participantes quando o campo 'tipo da movimentação' for preenchido com o valor 'SAIDA'.
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    Fine:
      type: object
      description: valor de multa devido ao atraso do pagamento acordado em contrato
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    GrossAmount:
      type: object
      description: valor do investimento que se refere a quantidade x PU atualizado na data de referência;
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    IncomeTax:
      type: object
      description: |
        valor do imposto considerando a alíquota vigente na data de referência  
        [Restrição] Campo de preenchimento obrigatório pelas participantes quando o campo 'tipo da movimentação' for preenchido com o valor 'SAIDA'.
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    IndexerPercentage:
      type: string
      description: |
        Percentual máximo do indexador na transação acordado com o cliente na contratação.  
        [Restrição] Campo de preenchimento obrigatório pelas participantes quando o campo 'tipo da movimentação' for preenchido com o valor 'ENTRADA'.
      maxLength: 8
      pattern: '^\d{1}\.\d{1,6}$'
      example: '1.100000'
    IssueUnitPrice:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          description: Valor relacionado ao objeto.
          maxLength: 23
          pattern: '^-?\d{1,15}\.\d{2,8}$'
          example: '1000.000004'
        currency:
          type: string
          description: 'Moeda referente ao valor monetário, seguindo o modelo ISO-4217.'
          maxLength: 3
          pattern: '^[A-Z]{3}$'
          example: BRL
    LatePayment:
      type: object
      description: valor de mora devido ao atraso do pagamento acordado em contrato
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 23
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    NetAmount:
      type: object
      description: 'valor do investimento atualizado na data de referência, posterior a dedução de impostos (IOF e IR)'
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    PostFixedIndexerPercentage:
      type: string
      description: |
        Percentual do indexador acordado com o  cliente na contratação. Em casos de produtos progressivos, considerar taxa vigente  
        [Restrição] Campo de preenchimento obrigatório pelas participantes quando o campo 'Indexador' for preenchido de forma diferente de 'PRE_FIXADO'.
      maxLength: 8
      pattern: '^\d{1}\.\d{1,6}$'
      example: '1.100000'
    PreFixedRate:
      $ref: '#/components/schemas/Currency'
    PurchaseUnitPrice:
      type: object
      description: valor unitário negociado com o cliente na data de aquisição
      required:
        - amount
        - currency
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,8}$'
          maxLength: 23
          minLength: 4
          example: '1000.000004'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    Quantity:
      type: string
      description: 'quantidade de títulos detidos na data da posição do cliente '
      maxLength: 15
      pattern: '^\d{1,15}'
      example: '15'
    ReferenceDateTime:
      type: string
      format: date-time
      description: 'data e hora da última posição consolidada disponível a que se referem os dados transacionais do cliente disponíveis nos canais eletrônicos; Na representação data deve se considerar os minutos e segundos como zero (00:00:00Z)'
      maxLength: 20
      pattern: '(^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$)'
      example: '2022-07-21T17:32:00Z'
    Remuneration:
      type: object
      required:
        - rateType
        - ratePeriodicity
        - calculation
        - indexer
      properties:
        preFixedRate:
          type: string
          description: |
            Valor da taxa de emissão do contrato  
            [Restrição] Campo de preenchimento obrigatório pelas  participantes quando houver 'PRE_FIXADO' no campo 'Indexador'.
          maxLength: 8
          pattern: '^\d{1}\.\d{1,6}$'
          example: '0.300000'
        postFixedIndexerPercentage:
          type: string
          description: |
            Percentual do indexador de emissão do contrato  
            [Restrição] Campo de preenchimento obrigatório pelas  participantes quando o campo 'Indexador' for preenchido de forma diferente de 'PRE_FIXADO'.
          maxLength: 8
          pattern: '^\d{1}\.\d{1,6}$'
          example: '1.100000'
        rateType:
          $ref: '#/components/schemas/EnumRateType'
        ratePeriodicity:
          $ref: '#/components/schemas/EnumRatePeriodicity'
        calculation:
          $ref: '#/components/schemas/EnumCalculation'
        indexer:
          $ref: '#/components/schemas/EnumIndexer'
        indexerAdditionalInfo:
          type: string
          description: |
            Informações adicionais do indexador  
            [Restrição] Campo de preenchimento obrigatório pelas participantes quando houver 'Outros' no campo 'Indexador'.
          pattern: '[\w\W\s]*'
          maxLength: 50
          example: Dólar
    RemunerationTransactionRate:
      type: string
      description: |
        Taxa de remuneração acordada com o cliente na contratação  
        [Restrição] Campo de preenchimento obrigatório pelas participantes quando o campo 'tipo da movimentação' for preenchido com o valor 'ENTRADA'.
      maxLength: 8
      pattern: '^\d{1}\.\d{1,6}$'
      example: '0.300000'
    TransactionDate:
      type: string
      description: Data da movimentação
      maxLength: 10
      pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
      example: '2018-02-15'
    TransactionGrossValue:
      type: object
      description: 'Valor bruto da transação (Preço unitário da movimentação x Quantidade) '
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    TransactionId:
      type: string
      description: Código ou identificador único prestado pela instituição para individualizar o movimento
      maxLength: 100
      pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$'
      example: ABCD2126019929279212650822221989319253344
    TransactionNetValue:
      type: object
      description: Valor líquido da transação
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,4}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    TransactionQuantity:
      type: string
      description: Quantidade de títulos envolvidos na movimentação
      maxLength: 24
      pattern: '^\d{1,15}\.\d{2,8}$'
      example: '42.25'
    TransactionType:
      type: string
      description: 'Aplicação, resgate, cancelamento, vencimento, pagamento de juros/amortização, transferência de titularidade, transferência de custódia e outros.'
      enum:
        - Compra
        - venda
        - cancelamento
        - vencimento
        - pagamento de juros
        - amortização
        - prêmio
        - transferência de titularidade
        - transferência de custódia
        - multa
        - mora
        - outros
      example: Aplicação
    TransactionUnitePrice:
      type: object
      description: 'Preço unitário bruto negociado na transação '
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,8}$'
          maxLength: 21
          minLength: 4
          example: '1000.04'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
    Type:
      type: string
      description: 'Tipo de movimentação na visão de investimento (Nos casos de motivo da movimentação  "pagamento de juros", "amortização", "prêmio", "multa" e "mora", fica convencionado que será considerado que o tipo de movimento será saída).'
      enum:
        - ENTRADA
        - SAÍDA
      example: ENTRADA
    TypeAdditionalInfo:
      type: string
      description: |
        Informação adicional do tipo de movimentação, para preenchimento no caso de movimentações não delimitadas no domínio  
        [Restrição] Campo de preenchimento obrigatório pelas participantes quando houver 'Outros' no campo 'Motivo da movimentação'.
      maxLength: 100
      pattern: '[\w\W\s]*'
    UpdatedUnitPrice:
      type: object
      description: valor bruto unitário atualizado na data de referência;
      required:
        - amount
        - currency
        - quantity
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,6}$ '
          maxLength: 23
          minLength: 4
          example: '1000.0400'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
        quantity:
          type: string
          format: double
          description: 'quantidade de títulos detidos na data da posição do cliente '
          maxLength: 24
          minLength: 4
          pattern: '^\d{1,15}\.\d{2,8}$'
          example: '15.00'
    UpdatedUnitPriceunit:
      type: object
      description: valor bruto unitário atualizado na data de referência;
      required:
        - amount
        - currency
        - quantity
      properties:
        amount:
          type: string
          format: double
          pattern: '^-?\d{1,15}\.\d{2,6}$ '
          maxLength: 23
          minLength: 4
          example: '1000.0400'
          description: Valor relacionado ao objeto.
        currency:
          $ref: '#/components/schemas/Currency'
        quantity:
          type: string
          format: double
          description: 'quantidade de títulos detidos na data da posição do cliente '
          maxLength: 15
          minLength: 4
          pattern: '^\d{1,15}\'
          example: '15.00'
    VoucherPaymentIndicator:
      type: string
      description: |
        Indicativo se há pagamento de cupom
          1. Sim
          2. Nao
      enum:
        - SIM
        - NAO
      example: SIM
    VoucherPaymentPeriodicity:
      type: string
      description: |
        Em caso de haver pagamento de cupom, descrever a periodicidade (mensal, trimestral, semestral, anual, irregular e outros)
          1. Mensal
          2. Trimestral
          3. Semestral
          4. Anual
          5. Irregular
          6. Outros
      enum:
        - MENSAL
        - TRIMESTRAL
        - SEMESTRAL
        - ANUAL
        - IRREGULAR
        - OUTROS
      example: MENSAL
    ResponseErrorMetaSingle:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
        meta:
          type: object
          description: Meta informações referente à API requisitada.
          required:
            - requestDateTime
          properties:
            requestDateTime:
              description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
              type: string
              maxLength: 20
              format: date-time
              example: '2021-05-21T08:30:00Z'
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
        meta:
          type: object
          description: Meta informações referente à API requisitada.
          required:
            - totalRecords
            - totalPages
            - requestDateTime
          properties:
            totalRecords:
              type: integer
              format: int32
              description: Número total de registros no resultado
              example: 1
            totalPages:
              type: integer
              format: int32
              description: Número total de páginas no resultado
              example: 1
            requestDateTime:
              description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
              type: string
              maxLength: 20
              format: date-time
              example: '2021-05-21T08:30:00Z'
  parameters:
    InvestmentId:
      name: investmentId
      in: path
      description: Identificador.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        maxLength: 100
    Authorization:
      name: Authorization
      in: header
      description: Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado
      required: true
      schema:
        type: string
        pattern: '[\w\W\s]*'
        maxLength: 2048
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: 'Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC'
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
        minLength: 29
        maxLength: 29
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: 'Um UID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação. Se fornecido, o transmissor deve "reproduzir" esse valor no cabeçalho de resposta.'
      required: false
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        minLength: 1
        maxLength: 100
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
        maximum: 2147483647
        format: int32
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
        format: int32
        maximum: 1000
    pagination-key:
      name: pagination-key
      in: query
      description: 'Identificador de rechamada, utilizado para evitar a contagem de chamadas ao endpoint durante a paginação.'
      schema:
        type: string
        maxLength: 2048
        pattern: '[\w\W\s]*'
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Requer o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            credit-fixed-incomes: Escopo necessário para acesso à API Credit-Fixed-Incomes. O controle dos endpoints específicos é feito via permissions.
  responses:
    OKResponseCreditFixedIncomesProductList:
      description: Lista de títulos de renda fixa crédito mantidos pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseCreditFixedIncomesProductList'
    OKResponseCreditFixedIncomesIdentifyProduct:
      description: 'Método para obter a lista de produtos de Renda Fixa Bancária (CDB, RDB, LCI e LCA)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseCreditFixedIdentificacao'
    OKResponseCustomerPosition:
      description: 'Método para obter a lista de produtos de Renda Fixa Crédito (Debênture, CRI e CRA)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseCustomerPosition'
    OKResponseCustomerMovement:
      description: Método para obter a lista de informações de produtos de Renda Variável (Ações e Fundos de Índices)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OKResponseCustomerMovement'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    GatewayTimeout:
      description: GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    Locked:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    UnprocessableEntity:
      description: 'A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    SiteIsOverloaded:
      description: 'O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    Default:
      description: Erro inesperado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorMetaSingle'
    BadRequestWithAdditionalProperties:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    ForbiddenWithAdditionalProperties:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    GatewayTimeoutWithAdditionalProperties:
      description: GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    InternalServerErrorWithAdditionalProperties:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    LockedWithAdditionalProperties:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    MethodNotAllowedWithAdditionalProperties:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotAcceptableWithAdditionalProperties:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    NotFoundWithAdditionalProperties:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    TooManyRequestsWithAdditionalProperties:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    UnauthorizedWithAdditionalProperties:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    UnprocessableEntityWithAdditionalProperties:
      description: 'A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    DefaultWithAdditionalProperties:
      description: Erro inesperado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
    SiteIsOverloadedWithAdditionalProperties:
      description: 'O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
