openapi: 3.0.0
info:
  title: API Webhook - Open Finance Brasil
  description: |
    API de Webhook é responsável por notificar eventos definidos em cada uma das APIs que possuem a funcionalidade no Open Finance Brasil.  
    
    Informações sobre endpoints suportados e funcionamento podem ser encontrados na página <a href="https://openfinancebrasil.atlassian.net/wiki/spaces/OF/pages/105021661/Conven+o+de+Webhook">Convenção de Webhook</a>, disponível no portal do desenvolvedor do Open Finance Brasil.
    
  version: 1.3.0-beta.1
  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: 'https://openbanking-brasil.github.io/areadesenvolvedor/'
servers:
  - url: 'https://api.banco.com.br/open-banking/webhook/v1'
    description: Servidor de Produção
  - url:  'https://apih.banco.com.br/open-banking/webhook/v1'
    description: Servidor de Homologação
tags:
  - name: Payments - Consents and Pix Payments
    description: Notificações de mudanças de estados de consentimentos e do pagamento.
  - name: No redirect - Enrollment Id Notification
    description: Notificações de mudanças de estados do vínculo de conta com a instituição.
  - name: Automatic Payments - Consents and Pix Payments
    description: Notificações de mudanças nas entidades de consentimentos de longa duração e do pagamento.
  - name: Customer Data - Events
    description: Permite realizar envio de eventos. Os eventos podem ser relacionados a qualquer recurso do ecossistema de Dados do Cliente, sendo definido o recurso por um campo tipo contido no evento. 
    
paths:
  '/payments/{versionApi}/consents/{consentId}':
    post:
      tags:
        - Payments - Consents and Pix Payments
      summary: Notificações de mudanças de estados de consentimentos da API de Iniciação de Pagamentos.
      operationId: consentNotification
      description: Notificações de mudanças de estados de consentimentos da API de Iniciação de Pagamentos.
      parameters:
        - $ref: '#/components/parameters/consentId'
        - $ref: '#/components/parameters/versionApi'
        - $ref: '#/components/parameters/xWebhookInteractionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyWebhook'
        description: Payload enviado para notificar a alteração no estado do consentimento.
        required: true
      responses:
        '202':
          $ref: '#/components/responses/202Webhook'
  '/payments/{versionApi}/pix/payments/{paymentId}':
    post:
      tags:
        - Payments - Consents and Pix Payments
      summary: 'Notificações de mudanças de estados do pagamento: Arranjo Pix da API de Iniciação de Pagamentos.'
      operationId: pixPaymentNotification
      description: 'Notificações de mudanças de estados do pagamento: Arranjo Pix da API de Iniciação de Pagamentos.'
      parameters:
        - $ref: '#/components/parameters/paymentId'
        - $ref: '#/components/parameters/versionApi'
        - $ref: '#/components/parameters/xWebhookInteractionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyWebhook'
        description: Payload enviado para notificar a alteração no estado do pagamento.
        required: true
      responses:
        '202':
          $ref: '#/components/responses/202Webhook'
  '/enrollments/{versionApi}/enrollments/{enrollmentId}':
    post:
      tags:
        - No redirect - Enrollment Id Notification
      summary: Notificações de mudanças de estados do vínculo de conta da API - Pagamentos sem Redirecionamento.
      operationId: enrollmentIdNotification
      description: Notificações de mudanças de estados do vínculo de conta da API - Pagamentos sem Redirecionamento.
      parameters:
        - $ref: '#/components/parameters/enrollmentId'
        - $ref: '#/components/parameters/versionApi'
        - $ref: '#/components/parameters/EnrollmentxWebhookInteractionId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyWebhook'
        description: Payload enviado para notificar a alteração no estado do vínculo.
        required: true
      responses:
        '202':
          $ref: '#/components/responses/202Webhook'
  '/automatic-payments/{versionApi}/recurring-consents/{recurringConsentId}':
    post:
      tags:
       - Automatic Payments - Consents and Pix Payments
      summary: Notificações de mudanças da entidade de consentimentos da API de Pagamentos automáticos. 
      operationId: recurringConsentIdNotification
      description: Notificações de mudanças da entidade de consentimentos da API de Pagamentos automáticos. 
      parameters:
        - $ref: '#/components/parameters/recurringConsentId'
        - $ref: '#/components/parameters/versionApi'
        - $ref: '#/components/parameters/xWebhookInteractionId'
      requestBody: 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyWebhook'
        description: Payload enviado para notificar a alteração na entidade do consentimento de longa duração.
        required: true
      responses:
        '202': 
          $ref: '#/components/responses/202WebhookPayments'
  '/automatic-payments/{versionApi}/pix/recurring-payments/{recurringPaymentId}':
    post:
      tags:
       - Automatic Payments - Consents and Pix Payments
      summary: Notificações de mudanças da entidade de pagamentos da API de Pagamentos automáticos. 
      operationId: recurringPaymentIdNotification
      description: Notificações de mudanças da entidade de pagamentos da API de Pagamentos automáticos. 
      parameters:
        - $ref: '#/components/parameters/recurringPaymentId'
        - $ref: '#/components/parameters/versionApi'
        - $ref: '#/components/parameters/xWebhookInteractionId'
      requestBody: 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyWebhook'
        description: Payload enviado para notificar a alteração na entidade do pagamento automático.
        required: true
      responses:
        '202': 
          $ref: '#/components/responses/202WebhookPayments'
  '/customer-data/events':
    post:
      tags:
       - Customer Data - Events
      summary: Permite realizar envio de eventos.
      operationId: customerDataEvents
      description: Permite realizar envio de eventos. Os eventos podem ser relacionados a qualquer recurso do ecossistema de Dados do Cliente, sendo definido o recurso por um campo tipo contido no evento. 
      parameters:
        - $ref: '#/components/parameters/xWebhookInteractionIdEvents'
      requestBody: 
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestBodyCustomer'
        description: Payload enviado para notificar a alteração na entidade do pagamento automático.
        required: true
      responses:
        '202': 
          $ref: '#/components/responses/202WebhookPayments'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '406': 
          $ref: '#/components/responses/NotAcceptable'
        '408':
          $ref: '#/components/responses/RequestTimeout'
        '415':
          $ref: '#/components/responses/UnsupportedMediaType'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          description: Erro inesperado.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseError'
components:
  schemas:
    RequestBodyWebhook:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Informações referentes à chamada realizada.
          required:
            - timestamp
          properties:
            timestamp:
              type: string
              format: date-time
              description: Data e hora em que ocorreu o evento responsável pelo disparo da notificação via webhook, conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).
              maxLength: 20
              pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
              example: '2021-05-21T08:30:00Z'
    RequestBodyCustomer:
      type: object
      required:
        - events
        - meta
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            type: object
            required:
              - resourceId
              - eventId
              - eventType
              - eventDateTime
            properties:
              resourceId:
                type: string
                minLength: 1
                maxLength: 100
                pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$'
                format: uuid
                description: 'Identificador único do recurso relacionadoao evento, no caso de Contas de depósito à vista, de poupança ou de pagamento pré-paga: corresponde ao accountId'
                example: 'd78fc4e5-37ca-4da3-adf2-9b082bf92280'
              eventId:
                type: string
                maxLength: 36
                pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
                format: uuid
                description: Identificador único para o evento, de acordo com UUID [RFC4122](https://tools.ietf.org/html/rfc4122)
                example: 'd78fc4e5-37ca-4da3-adf2-9b082bf92280'
              eventType:
                type: string
                enum:
                  - ACCOUNT_BALANCE_CHANGED
                description: Determina qual o evento está sendo notificado
                example: 'ACCOUNT_BALANCE_CHANGED'
              eventDateTime:
                type: string
                maxLength: 20
                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                format: date-time
                description: Determina a data e hora que o evento ocorreu
                example: '2021-05-21T08:30:00Z'
        meta:
          $ref: '#/components/schemas/Meta'
    Meta:
      type: object
      description: Meta informação referente a API requisitada.
      required:
        - requestDateTime
      properties:
        requestDateTime:
          description: 'Data e hora em que o pacote de eventos foi disponibilizado à receptora, conforme especificação [RFC-3339](https://datatracker.ietf.org/doc/html/rfc3339), com a utilização de timezone UTC (UTC time format)'
          type: string
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
    ResponseError:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
        meta:
          $ref: '#/components/schemas/Meta'
    xWebhookInteractionId:
      type: string
      pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
      maxLength: 100
      description: Identificador único recebido da detentora de conta na notificação enviada pelo Webhook.
    xWebhookInteractionIdPayments:
      type: string
      pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
      maxLength: 100
      description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
  parameters:
    consentId:
      name: consentId
      in: path
      description: |
        O consentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.  
        Um URN, conforme definido na [RFC8141](https://tools.ietf.org/html/rfc8141) é um Uniform Resource 
        Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN 
        seja um identificador de recurso persistente e independente da localização.  
        Considerando a string urn:bancoex:C1DD33123 como exemplo para consentId temos:
        - o namespace(urn)
        - o identificador associado ao namespace da instituição transnmissora (bancoex) 
        - o identificador específico dentro do namespace (C1DD33123).  
        Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://tools.ietf.org/html/rfc8141).
      required: true
      schema:
        type: string
        pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9\-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
        maxLength: 256
    versionApi:
      name: versionApi
      in: path
      description: Identifica a versão da API que deverá ser utilizada para recebimento da notificação via webhook
      required: true
      schema:
        type: string
        pattern: '^v([1-9][0-9]?|10)$'
        maxLength: 256
    paymentId:
      name: paymentId
      in: path
      description: Identificador da operação de pagamento.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        maxLength: 100
    enrollmentId:
      name: enrollmentId
      in: path
      description: Identificador único do vínculo de conta criado para a iniciação de pagamento solicitada. Deverá ser um URN - Uniform Resource Name. Um URN, conforme definido na [RFC8141](https://datatracker.ietf.org/doc/html/rfc8141) é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        maxLength: 100
    recurringConsentId:
      name: recurringConsentId
      in: path
      description: | 
        O recurringConsentId é o identificador único do consentimento e deverá ser um URN - Uniform Resource Name.
        Um URN, conforme definido na [RFC8141](https://datatracker.ietf.org/doc/html/rfc8141) é um Uniform Resource Identifier - URI - que é atribuído sob o URI scheme "urn" e um namespace URN específico, com a intenção de que o URN seja um identificador de recurso persistente e independente da localização.
        Considerando a string urn:bancoex:C1DD33123 como exemplo para recurringConsentId temos:

        - o namespace(urn). 
        - o identificador associado ao namespace da instituição transnmissora (bancoex). 
        - o identificador específico dentro do namespace (C1DD33123). Informações mais detalhadas sobre a construção de namespaces devem ser consultadas na [RFC8141](https://datatracker.ietf.org/doc/html/rfc8141).
      required: true
      schema:
        type: string
        pattern: '^urn:[a-zA-Z0-9][a-zA-Z0-9\-]{0,31}:[a-zA-Z0-9()+,\-.:=@;$_!*''%\/?#]+$'
        maxLength: 256
    recurringPaymentId:
      name: recurringPaymentId
      in: path
      description: Identificador da operação de pagamento.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        maxLength: 100
    xWebhookInteractionId:
      name: x-webhook-interaction-id
      in: header
      description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://tools.ietf.org/html/rfc4122).
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        minLength: 1
        maxLength: 100
    xWebhookInteractionIdEvents:
      name: x-webhook-interaction-id
      in: header
      description: Identificador único para cada tentativa de notificação realizada. Caso haja retentativas de notificação para o mesmo evento, este identificador não poderá ser reaproveitado da notificação anterior. O identificador deverá seguir o padrão UUID [RFC4122](https://tools.ietf.org/html/rfc4122).
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        minLength: 1
        maxLength: 100
    EnrollmentxWebhookInteractionId:
      name: x-webhook-interaction-id
      in: header
      description: Identificador único para cada tentativa de notificação realizada. Caso haja retentativas de notificação para o mesmo evento, este identificador não poderá ser reaproveitado da notificação anterior. O identificador deverá seguir o padrão UUID [RFC4122](https://tools.ietf.org/html/rfc4122).
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9\-]{0,99}$'
        minLength: 1
        maxLength: 100
  responses:
    202Webhook:
      description: Requisição aceita para processamento posterior.
      headers:
        x-webhook-interaction-id:      
          description: Identificador único recebido da detentora de conta na notificação enviada pelo Webhook.
          schema:
            $ref: '#/components/schemas/xWebhookInteractionId'
    202WebhookPayments:
      description: Requisição aceita para processamento posterior.
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    NotFound:
      description: 'O recurso solicitado não existe ou não foi implementado.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    NotAcceptable:
      description: 'A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    RequestTimeout:
      description: 'Request Timeout'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    UnsupportedMediaType:
      description: 'O formato do payload não é um formato suportado.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    InternalServerError:
      description: 'Ocorreu um erro no gateway da API ou no microsserviço'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    GatewayTimeout:
      description: 'GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
    SiteIsOverloaded:
      description: 'O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseError'
      headers:
        x-webhook-interaction-id:      
          description: Identificador único para cada tentativa de notificação realizada. O identificador deverá seguir o padrão UID [RFC4122](https://datatracker.ietf.org/doc/html/rfc4122).
          schema:
            $ref: '#/components/schemas/xWebhookInteractionIdPayments'
