openapi: 3.0.0
info:
  title: API Acquiring Services - Open Finance Brasil
  description: |
    API de Credenciamento do Open Finance Brasil – Fase 4.
    API que retorna informações de Credenciamento.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: "https://openbanking-brasil.github.io/areadesenvolvedor/"
servers:
  - url: "https://api.banco.com.br/open-banking/opendata-acquiring-services/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/opendata-acquiring-services/v1"
    description: Servidor de Homologação
tags:
  - name: PersonalAcquiringServices
    description: Operações para obter as informações de Credenciamento para Pessoa Física.
  - name: BusinessAcquiringServices
    description: Operações para obter as informações de Credenciamento para Pessoa Jurídica.
paths:
  /personals:
    get:
      tags:
        - PersonalAcquiringServices
      summary: Conjunto de informações de Credenciamento para Pessoa Física.
      operationId: getPersonalAcquiringServices
      description: Método para disponibilizar as taxas e tarifas por serviços.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseAcquiringServices"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
  /businesses:
    get:
      tags:
        - BusinessAcquiringServices
      summary: Conjunto de informações de Credenciamento para Pessoa Jurídica.
      operationId: getBusinessAcquiringServices
      description: Método para disponibilizar as taxas e tarifas por serviços.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseAcquiringServices"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
components:
  schemas:
    OKResponseAcquiringServices:
      $ref: "./schemas/acquiring_services_apis/OkResponseGetAcquiringServicesContract.yaml"
    Links:
      $ref: "./schemas/Links.yaml"
    OpenDataMeta:
      $ref: "./schemas/OpenDataMeta.yaml"
    AcquiringParticipant:
      $ref: ./schemas/acquiring_services_apis/AcquiringParticipant.yaml
    EnumAcquiringServicesFeeName:
      $ref: ./schemas/enum/EnumAcquiringServicesFeeName.yaml
    EnumAcquiringServicesCode:
      $ref: ./schemas/enum/EnumAcquiringServicesCode.yaml
    EnumAcquiringServicesInterval:
      $ref: ./schemas/enum/EnumAcquiringServicesInterval.yaml
    Price:
      $ref: ./schemas/acquiring_services_apis/Price.yaml
    AcquiringServicesContractData:
      $ref: ./schemas/acquiring_services_apis/AcquiringServicesContractData.yaml
    OpenDataResponseError:
      $ref: ./schemas/OpenDataResponseError.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
  responses:
    OKResponseAcquiringServices:
      description: "Dados de operações de credenciamento obtidos com sucesso."
      content:
        application/json:
          schema:
            $ref: "./schemas/acquiring_services_apis/OkResponseGetAcquiringServicesContract.yaml"
    BadRequest:
      description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    TooManyRequests:
      description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    SiteIsOverloaded:
      description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
