openapi: 3.0.0
info:
  title: API Credit Fixed Incomes - Open Finance Brasil
  description: |
    API de informações de operações de Renda Fixa Crédito do Open Finance Brasil – Fase 4. API que retorna informações de operações de investimento do tipo Renda Fixa Crédito (Debêntures, CRI/CRA) mantidas nas instituições transmissoras por seus clientes, incluindo dados como denominação do produto, rentabilidade, quantidade, prazos, saldos em posição do cliente e movimentações financeiras.
    Não possui segregação entre pessoa natural e pessoa jurídica. Requer consentimento do cliente para todos os endpoints. A exposição se dará por cada operação de renda fixa contratada pelo cliente.
  version: 1.0.0-rc2.0
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: "https://openbanking-brasil.github.io/areadesenvolvedor/"
servers:
  - url: "https://api.banco.com.br/open-banking/credit-fixed-incomes/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/credit-fixed-incomes/v1"
    description: Servidor de Homologação
tags:
  - name: Product List
    description: Obtém a lista de operações de Renda Fixa Crédito mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
  - name: Product Identification
    description: Obtém os dados da operação de Renda Fixa Crédito identificada por investmentId.
  - name: Balances
    description: Obtém a posição da operação de Renda Fixa Crédito identificada por investmentId.
  - name: Transactions
    description: Obtém as movimentações históricas (últimos 12 meses) da operação de Renda Fixa Crédito identificada por investmentId.
  - name: Transactions Current
    description: Obtém as movimentações recentes da operação de Renda Fixa Crédito identificada por investmentId. O período a ser considerado para apresentação de movimentações será de até 7 dias - 7 dias anteriores da consulta, incluindo o dia da consulta (D-6).
paths:
  /investments:
    get:
      tags:
        - Product List
      summary: Obtém a lista de operações de Renda Fixa Crédito mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.
      operationId: creditFixedIncomesGetInvestments
      description: Obtém a lista de operações de Renda Fixa Crédito mantidas pelo cliente na instituição transmissora e para as quais ele tenha fornecido consentimento.        -
      parameters:
         - $ref: '#/components/parameters/Authorization'
         - $ref: '#/components/parameters/xFapiAuthDate'
         - $ref: '#/components/parameters/xFapiCustomerIpAddress'
         - $ref: '#/components/parameters/xFapiInteractionId'
         - $ref: '#/components/parameters/xCustomerUserAgent'
         - $ref: '#/components/parameters/page'
         - $ref: '#/components/parameters/pageSize'
         - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/ResponseCreditFixedIncomesProductList'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OAuth2AuthorizationCode:
            - 'openid'
            - 'consent:consentId'
            - 'credit-fixed-incomes'
  /investments/{investmentId}:
    get:
      tags:
        - Product Identification
      summary: Obtém os dados da operação de Renda Fixa Crédito identificada por investmentId.
      operationId: creditFixedIncomesGetInvestmentsInvestmentId
      description: Obtém os dados da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
         - $ref: '#/components/parameters/InvestmentId'
         - $ref: '#/components/parameters/Authorization'
         - $ref: '#/components/parameters/xFapiAuthDate'
         - $ref: '#/components/parameters/xFapiCustomerIpAddress'
         - $ref: '#/components/parameters/xFapiInteractionId'
         - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/ResponseCreditFixedIncomesProductIdentification'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties'
      security:
        - OAuth2AuthorizationCode:
            - 'openid'
            - 'consent:consentId'
            - 'credit-fixed-incomes'
  /investments/{investmentId}/balances:
    get:
      tags:
        - Balances
      summary: Obtém a posição da operação de Renda Fixa Crédito identificada por investmentId.
      operationId: creditFixedIncomesGetInvestmentsInvestmentIdBalances
      description: Obtém a posição da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      responses:
        '200':
          $ref: '#/components/responses/ResponseCreditFixedIncomesBalances'
        '400':
          $ref: '#/components/responses/BadRequestWithAdditionalProperties'
        '401':
          $ref: '#/components/responses/UnauthorizedWithAdditionalProperties'
        '403':
          $ref: '#/components/responses/ForbiddenWithAdditionalProperties'
        '404':
          $ref: '#/components/responses/NotFoundWithAdditionalProperties'
        '405':
          $ref: '#/components/responses/MethodNotAllowedWithAdditionalProperties'
        '406':
          $ref: '#/components/responses/NotAcceptableWithAdditionalProperties'
        '422':
          $ref: '#/components/responses/UnprocessableEntityWithAdditionalProperties'
        '423':
          $ref: '#/components/responses/LockedWithAdditionalProperties'
        '429':
          $ref: '#/components/responses/TooManyRequestsWithAdditionalProperties'
        '500':
          $ref: '#/components/responses/InternalServerErrorWithAdditionalProperties'
        '504':
          $ref: '#/components/responses/GatewayTimeoutWithAdditionalProperties'
        '529':
          $ref: '#/components/responses/SiteIsOverloadedWithAdditionalProperties'
        'default':
          $ref: '#/components/responses/DefaultWithAdditionalProperties' 
      security:
        - OAuth2AuthorizationCode:
            - 'openid'
            - 'consent:consentId'
            - 'credit-fixed-incomes'
  /investments/{investmentId}/transactions:
    get:
      tags:
        - Transactions
      summary: Obtém as movimentações históricas (últimos 12 meses) da operação de Renda Fixa Crédito identificada por investmentId.
      operationId: creditFixedIncomesGetInvestmentsInvestmentIdTransactions
      description: Obtém as movimentações históricas (últimos 12 meses) da operação de Renda Fixa Crédito identificada por investmentId.
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
        - $ref: '#/components/parameters/fromTransactionDate'
        - $ref: '#/components/parameters/toTransactionDate'
      responses:
        '200':
          $ref: '#/components/responses/ResponseCreditFixedIncomesTransactions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        'default':
          $ref: '#/components/responses/Default'
      security:
        - OAuth2AuthorizationCode:
            - 'openid'
            - 'consent:consentId'
            - 'credit-fixed-incomes'
  /investments/{investmentId}/transactions-current:
    get:
      tags:
        - Transactions Current
      summary: Obtém as movimentações recentes da operação de Renda Fixa Crédito identificada por investmentId. O período a ser considerado para apresentação de movimentações será de até 7 dias - 7 dias anteriores da consulta, incluindo o dia da consulta (D-6).
      operationId: creditFixedIncomesGetInvestmentsInvestmentIdTransactionsCurrent
      description: Obtém as movimentações recentes da operação de Renda Fixa Crédito identificada por investmentId. O período a ser considerado para apresentação de movimentações será de até 7 dias - 7 dias anteriores da consulta, incluindo o dia da consulta (D-6).
      parameters:
        - $ref: '#/components/parameters/InvestmentId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
        - $ref: '#/components/parameters/fromTransactionDateCurrent'
        - $ref: '#/components/parameters/toTransactionDateCurrent'
      responses:
        '200':
          $ref: '#/components/responses/ResponseCreditFixedIncomesTransactionsCurrent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        'default':
          $ref: '#/components/responses/Default'
      security:
        - OAuth2AuthorizationCode:
            - 'openid'
            - 'consent:consentId'
            - 'credit-fixed-incomes'
components:
  schemas:
    ResponseCreditFixedIncomesProductList:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesProductList.yaml
    ResponseCreditFixedIncomesProductIdentification:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesProductIdentification.yaml
    ResponseCreditFixedIncomesBalances:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesBalances.yaml
    ResponseCreditFixedIncomesTransactions:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesTransactions.yaml
    ResponseCreditFixedIncomesTransactionsCurrent:
      $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesTransactionsCurrent.yaml
    Amount:
      $ref: ./schemas/credit_fixed_incomes_apis/Amount.yaml
    BlockedBalance:
      $ref: ./schemas/credit_fixed_incomes_apis/BlockedBalance.yaml
    CreditFixedIdentification:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIdentifyProduct.yaml
    CreditFixedIncomesLinks:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIncomesLinks.yaml
    CreditFixedIncomesMeta:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIncomesMeta.yaml
    CreditFixedIncomesMetaTransactions:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIncomesMetaTransactions.yaml
    CreditFixedList:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedProductList.yaml
    Currency:
      $ref: ./schemas/credit_fixed_incomes_apis/Currency.yaml
    EnumCalculation:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumCalculation.yaml
    EnumTaxExemptProduct:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumTaxExemptProduct.yaml
    EnumIndexer:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumIndexer.yaml
    EnumInvestimentType:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumInvestimentType.yaml
    EnumRatePeriodicity:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumRatePeriodicity.yaml
    EnumRateType:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumRateType.yaml
    FinancialTransactionTax:
      $ref: ./schemas/credit_fixed_incomes_apis/FinancialTransactionTax.yaml
    Fine:
      $ref: ./schemas/credit_fixed_incomes_apis/Fine.yaml
    GrossAmount:
      $ref: ./schemas/credit_fixed_incomes_apis/GrossAmount.yaml
    IncomeTax:
      $ref: ./schemas/credit_fixed_incomes_apis/IncomeTax.yaml
    IndexerPercentage:
      $ref: ./schemas/credit_fixed_incomes_apis/IndexerPercentage.yaml
    IssueUnitPrice:
      $ref: ./schemas/credit_fixed_incomes_apis/IssueUnitPrice.yaml
    LatePayment:
      $ref: ./schemas/credit_fixed_incomes_apis/LatePayment.yaml
    NetAmount:
      $ref: ./schemas/credit_fixed_incomes_apis/NetAmount.yaml
    PostFixedIndexerPercentage:
      $ref: ./schemas/credit_fixed_incomes_apis/PostFixedIndexerPercentage.yaml
    PreFixedRate:
      $ref: ./schemas/credit_fixed_incomes_apis/Currency.yaml
    PurchaseUnitPrice:
      $ref: ./schemas/credit_fixed_incomes_apis/PurchaseUnitPrice.yaml
    Quantity:
      $ref: ./schemas/credit_fixed_incomes_apis/Quantity.yaml
    ReferenceDateTime:
      $ref: ./schemas/credit_fixed_incomes_apis/ReferenceDateTime.yaml
    Remuneration:
      $ref: ./schemas/credit_fixed_incomes_apis/Remuneration.yaml
    CreditFixedIncomesTransactions:
      $ref: ./schemas/credit_fixed_incomes_apis/CreditFixedIncomesTransactions.yaml
    RemunerationTransactionRate:
      $ref: ./schemas/credit_fixed_incomes_apis/RemunerationTransactionRate.yaml
    TransactionDate:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionDate.yaml
    TransactionGrossValue:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionGrossValue.yaml
    TransactionId:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionId.yaml
    TransactionNetValue:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionNetValue.yaml
    TransactionQuantity:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionQuantity.yaml
    TransactionType:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumTransactionType.yaml
    TransactionUnitPrice:
      $ref: ./schemas/credit_fixed_incomes_apis/TransactionUnitPrice.yaml
    Type:
      $ref: ./schemas/credit_fixed_incomes_apis/EnumType.yaml
    TypeAdditionalInfo:
      $ref: ./schemas/credit_fixed_incomes_apis/TypeAdditionalInfo.yaml
    UpdatedUnitPrice:
      $ref: ./schemas/credit_fixed_incomes_apis/UpdatedUnitPrice.yaml
    UpdatedUnitPriceunit:
      $ref: ./schemas/credit_fixed_incomes_apis/UpdatedUnitPriceUnit.yaml
    VoucherPaymentIndicator:
      $ref: ./schemas/credit_fixed_incomes_apis/VoucherPaymentIndicator.yaml
    VoucherPaymentPeriodicity:
      $ref: ./schemas/credit_fixed_incomes_apis/VoucherPaymentPeriodicity.yaml
    ResponseErrorMetaSingle:
      $ref: ./schemas/ResponseErrorMetaSingle.yaml
    ResponseError:
      $ref: ./schemas/ResponseErrorWithAbleAdditionalProperties.yaml
  parameters:
    InvestmentId:
      $ref: ./parameters/InvestmentId.yaml
    Authorization:
      $ref: ./parameters/Authorization.yaml
    xFapiAuthDate:
      $ref: ./parameters/CreditFixedIncomeXFapiAuthDate.yaml
    xFapiCustomerIpAddress:
      $ref: ./parameters/XFapiCustomerIpAddress.yaml
    xFapiInteractionId:
      $ref: ./parameters/CreditFixedIncomesXFapiInteractionId.yaml
    xCustomerUserAgent:
      $ref: ./parameters/XCustomerUserAgent.yaml
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
    pagination-key:
      $ref: ./parameters/PaginationKey.yaml
    fromTransactionDate:
      $ref: ./parameters/CreditFixedIncomesFromTransactionDate.yaml
    toTransactionDate:
      $ref: ./parameters/CreditFixedIncomesToTransactionDate.yaml
    fromTransactionDateCurrent:
      $ref: ./parameters/CreditFixedIncomesFromTransactionDateCurrent.yaml
    toTransactionDateCurrent:
      $ref: ./parameters/CreditFixedIncomesToTransactionDateCurrent.yaml
  securitySchemes:
    OAuth2AuthorizationCode:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Requer o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            credit-fixed-incomes: Escopo necessário para acesso à API Credit-Fixed-Incomes. O controle dos endpoints específicos é feito via permissions.
  responses:
    ResponseCreditFixedIncomesProductList:
      description: Dados obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesProductList.yaml
    ResponseCreditFixedIncomesProductIdentification:
      description: Dados obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesProductIdentification.yaml
    ResponseCreditFixedIncomesBalances:
      description: Dados obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesBalances.yaml
    ResponseCreditFixedIncomesTransactions:
      description: Dados obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesTransactions.yaml
    ResponseCreditFixedIncomesTransactionsCurrent:
      description: Dados obtidos com sucesso.
      content:
        application/json:
          schema:
            $ref: ./schemas/credit_fixed_incomes_apis/ResponseCreditFixedIncomesTransactionsCurrent.yaml
    BadRequest:
      $ref: ./responses/unpaged/BadRequest.yaml
    Forbidden:
      $ref: ./responses/unpaged/Forbidden.yaml
    GatewayTimeout:
      $ref: ./responses/unpaged/GatewayTimeout.yaml
    InternalServerError:
      $ref: ./responses/unpaged/InternalServerError.yaml
    Locked:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    MethodNotAllowed:
      $ref: ./responses/unpaged/MethodNotAllowed.yaml
    NotAcceptable:
      $ref: ./responses/unpaged/NotAcceptable.yaml
    NotFound:
      $ref: ./responses/unpaged/NotFound.yaml
    TooManyRequests:
      $ref: ./responses/unpaged/TooManyRequests.yaml
    Unauthorized:
      $ref: ./responses/unpaged/Unauthorized.yaml
    UnprocessableEntity:
      $ref: ./responses/unpaged/UnprocessableEntity.yaml
    SiteIsOverloaded:
      description: O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml
    Default:
      $ref: ./responses/unpaged/Default.yaml
    BadRequestWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/BadRequest.yaml
    ForbiddenWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Forbidden.yaml
    GatewayTimeoutWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/GatewayTimeout.yaml
    InternalServerErrorWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/InternalServerError.yaml
    LockedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Locked.yaml
    MethodNotAllowedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/MethodNotAllowed.yaml
    NotAcceptableWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotAcceptable.yaml
    NotFoundWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/NotFound.yaml
    TooManyRequestsWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/TooManyRequests.yaml
    UnauthorizedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Unauthorized.yaml
    UnprocessableEntityWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/UnprocessableEntity.yaml
    DefaultWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/Default.yaml
    SiteIsOverloadedWithAdditionalProperties:
      $ref: ./responses/withAdditionalProperties/SiteIsOverloaded.yaml