openapi: 3.0.0
info:
  title: API Exchange - Open Finance Brasil
  description: |
    API de Câmbio do Open Finance Brasil – Fase 4.
    API que retorna informações de Câmbio.
  version: 1.0.0
  license:
    name: Apache 2.0
    url: "https://www.apache.org/licenses/LICENSE-2.0"
  contact:
    name: Governança do Open Finance Brasil – Especificações
    email: gt-interfaces@openbankingbr.org
    url: "https://openbanking-brasil.github.io/areadesenvolvedor/"
servers:
  - url: "https://api.banco.com.br/open-banking/opendata-exchange/v1"
    description: Servidor de Produção
  - url: "https://apih.banco.com.br/open-banking/opendata-exchange/v1"
    description: Servidor de Homologação
tags:
  - name: Exchange Online Rate
    description: Operações para obter as informações de Câmbio para taxa online.
  - name: Exchange VET Value
    description: Operações para obter as informações de Câmbio para valor do VET.

paths:
  /online-rates:
    get:
      tags:
        - Exchange Online Rate
      summary: Conjunto de informações de Câmbio para taxa online.
      operationId: exchangeGetOnlineRate
      description: As instituições autorizadas a operar em câmbio que disponibilizam em seus canais digitais a possibilidade de contratação ou a informação de taxa de câmbio devem retornar as condições no momento da consulta, sendo admitida uma defasagem máxima de atualização de 5 minutos em relação a seus canais digitais.


        Já as demais instituições participantes do Open Finance autorizadas a operar em câmbio podem adotar as janelas de consulta da PTAX como frequência mínima de atualização das informações retornadas neste serviço.
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseExchangeOnlineRate"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
  /vet-values:
    get:
      tags:
        - Exchange VET Value
      summary: Conjunto de informações de Câmbio para valor do VET.
      operationId: exchangeGetVetValue
      description: Método para disponibilizar os VETs praticados pela instituição nas operações de câmbio, agrupados por tipo de operação (compra ou venda), moeda, forma de entrega, faixas de valores e público-alvo (pessoa física, pessoa jurídica ou ambos).
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        "200":
          $ref: "#/components/responses/OKResponseExchangeVetValue"
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "405":
          $ref: "#/components/responses/MethodNotAllowed"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalServerError"
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
components:
  schemas:
    Links:
      $ref: ./schemas/Links.yaml
    OpenDataMeta:
      $ref: ./schemas/OpenDataMeta.yaml
    OKResponseExchangeOnlineRate:
      $ref: ./schemas/exchange_apis/ResponseExchangeOnlineRate.yaml
    OKResponseExchangeVetValue:
      $ref: ./schemas/exchange_apis/ResponseExchangeVetValue.yaml
    ExchangeOnlineRate:
      $ref: ./schemas/exchange_apis/ExchangeOnlineRate.yaml
    ExchangeVetValue:
      $ref: ./schemas/exchange_apis/ExchangeVetValue.yaml
    ExchangeNoIdentificationFrequencyDistribution:
      $ref: ./schemas/exchange_apis/ExchangeNoIdentificationFrequencyDistribution.yaml
    ExchangeFrequencyDistributionPrice:
      $ref: ./schemas/exchange_apis/ExchangeFrequencyDistributionPrice.yaml
    OnlineRate:
      $ref: ./schemas/exchange_apis/OnlineRate.yaml
    EnumExchangeDeliveryForeignCurrency:
      $ref: ./schemas/enum/EnumExchangeDeliveryForeignCurrency.yaml
    EnumExchangeRangeTransactionCategory:
      $ref: ./schemas/exchange_apis/EnumExchangeRangeTransactionCategory.yaml
    EnumExchangeTransactionCategory:
      $ref: ./schemas/enum/EnumExchangeTransactionCategory.yaml
    EnumExchangeTransactionType:
      $ref: ./schemas/enum/EnumExchangeTransactionType.yaml
    EnumDistinctTargetAudienceExchange:
      $ref: ./schemas/exchange_apis/EnumDistinctTargetAudienceExchange.yaml
    EnumInterval:
      $ref: ./schemas/exchange_apis/EnumInterval.yaml
    CnpjNumber:
      $ref: ./schemas/exchange_apis/CnpjNumber.yaml
    Participant:
      $ref: ./schemas/exchange_apis/Participant.yaml
    CurrencyCode:
      $ref: ./schemas/business_commons/CurrencyCode.yaml
    OpenDataResponseError:
      $ref: ./schemas/OpenDataResponseError.yaml
  parameters:
    page:
      $ref: ./parameters/Page.yaml
    pageSize:
      $ref: ./parameters/PageSize.yaml
  responses:
    OKResponseExchangeOnlineRate:
      description: "Dados de operações de câmbio da instituição obtidos com sucesso."
      content:
        application/json:
          schema:
            $ref: "./schemas/exchange_apis/ResponseExchangeOnlineRate.yaml"
    OKResponseExchangeVetValue:
      description: "Dados de operações de câmbio da instituição obtidos com sucesso."
      content:
        application/json:
          schema:
            $ref: "./schemas/exchange_apis/ResponseExchangeVetValue.yaml"
    BadRequest:
      description: "A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    TooManyRequests:
      description: "A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite de requisições concorrentes foi atingido."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/OpenDataResponseError.yaml
    SiteIsOverloaded:
      description: "O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento."
      content:
        application/json; charset=utf-8:
          schema:
            $ref: ./schemas/ResponseErrorMetaSingle.yaml